[2017-06-20 16:09] mharisce opened #2 "Can you please add the License file to your code?"
Can you please add the License file to your code? It would be nice if i could see its license before using it.

[2017-06-20 16:27] vandeseer commented on #2
Hey @mharisce, I just added a license, namely the MIT license which is very permissive. So feel free to do with the code whatever you want to. Cheers, phil

[2017-06-20 16:27] #2 closed

[2017-06-20 22:43] mharisce commented on #2
Thank you :)

[2017-11-05 23:45] RussoNC opened #3 "Publish to jcenter and maven repo"
Hello, first of all thanks for this amazing little lib. Do you think it would be possible for you to push this in jcenter and maven ? It would be easier for new versions and maintenance.
Thanks again !

[2017-11-06 20:41] vandeseer commented on #3
Hey @RussoNC , glad you like it! :) Currently I do not have much spare time, but since I realized now that at least one developer would like to have it in maven central I will take publishing into consideration ;) Will keep you posted. Cheers.

[2017-11-07 21:51] RussoNC commented on #3
Sounds good man ! Happy coding ^^

[2017-11-21 09:04] tkatz commented on #3
+1 Thanks for this nice little lib which is making live much easier :-)
I would also like to have this available in maven central / jcenter.

[2017-12-31 19:43] AutJon commented on #3
How to add an image and text to the same cell?

[2018-02-16 08:14] HolgerNeub commented on #3
+1 Maven would be great

[2018-04-08 21:20] Selikoff opened #4 "Feature Request - Font per Row/Cell"
Love the tool but it would be helpful to set a different font style/size on a row or cell. For example, having the header row be bold.  Currently, font style is set for entire table.  Only color can be changed per cell.

[2018-04-08 21:22] Selikoff opened #5 "Feature Request - Row spanning"
Love the tool, but it would be helpful if it had row spanning.   The idea is that a cell could span two or more rows, with alignment of top/middle/bottom for the text that in it.  Would also be helpful if text within could be broken across multiple lines.

[2018-04-10 07:41] vandeseer commented on #5
Thanks @Selikoff for the request; I currently don't have much time to develop besides work, so I cannot promise anything, but your plea is heard ;)

[2018-10-05 20:07] vandeseer commented on #5
Row spanning is now implemented. Not yet though: vertical alignment and breaking text across multiple lines.

[2018-10-05 20:08] vandeseer commented on #4
This is now possible :)

[2018-10-05 20:08] #4 closed

[2018-10-06 06:50] vandeseer opened #6 "Allow images to be added in cells"
One of doing this could be to register a callback with the content stream so that the users of the library could place the image themselves.

[2018-10-11 17:26] TheSilentHorizon opened #7 "Bug with span width"
Since i cant make a pull request for whatever reason:

Theres a bug in the TableDrawer which causes glitches like this (replace this test with the actual one) :

[code]

You see, adding span on the second cell in a row works. But on the first one it turns to a unwanted result.

Simply replace:

`columnCounter++;`

with

`columnCounter += cell.getSpan()`

in your drawBackgroundAndText and drawBorde

[2018-10-11 20:18] vandeseer commented on #7
Thanks a lot for reporting @TheSilentHorizon and thanks a lot for the fix as well! I will change it accordingly in the next days (and also check why you can't make a pull request)

[2018-10-11 22:02] TheSilentHorizon commented on #7
@vandeseer i have to thank, your little TableAPI is a lifesaver 👍

[2018-10-13 20:33] vandeseer commented on #7
Glad you find it useful :)

I changed the code accordingly and modified the test to include a row with cell spanning at the very beginning. Thanks again!

Please note that the version is still 0.0.xx, so I don't consider this being a mature library but something home-brew that is still in the making – hopefully though I will soon clean the API a bit, i.e. having more consistent method names etc. a

[2018-10-13 20:33] #7 closed

[2018-10-25 06:22] Kevinschmid86 opened #9 "Vertical Alignment within a row (Feature)"
Hey vandeseer,
many thanks for your little project. At the moment I´m trying to use the easytable for the first time. I need to create a table over several pages and with pdfarcform in it.

I played around with your .setWordBreaking() function. It would be great if it would be possible to use a vertical alignment within a row, if the wordbreaking feature is used.

I attached an image regarding thi

[2018-10-27 22:07] vandeseer commented on #9
Hi @Kevinschmid86,
I am currently working on vertical alignment, just checkout this branch: feature/verticalAlignment
It's not yet merged to master and may still have issues. But just give it a shot and let me know if you experience any problems with it. If so, it would be very helpful if you could also provide me with a minimum working example, or not working example to be precise ;)

[2018-10-27 22:09] vandeseer commented on #5
Breaking text is implemented, and vertical alignment is now tracked in this issue: https://github.com/vandeseer/easytable/issues/9

[2018-10-27 22:09] #5 closed

[2018-11-04 19:39] vandeseer commented on #6
Done with v0.1.0

[2018-11-04 19:39] #6 closed

[2018-11-04 19:40] vandeseer commented on #9
This is now part of version v0.1.0.

[2018-11-04 19:40] #9 closed

[2018-11-17 18:27] vandeseer opened #18 "Allow newlines in cell texts"
Right now one cannot enter newlines, i.e. "\n" in cell texts.

[2018-11-17 18:31] vandeseer opened #19 "Include some conversion methods in the PdfUtils class"
... for easier dealing with different units etc.

Also see: https://gist.github.com/ecmel/3204aa6a9aa30a0b5649

[2018-11-19 11:00] TheSilentHorizon opened #20 "Enabling WordBreak on Tables causes a Stackoverflow on cells with only a single character"
When you have single character CellTexts WordBreak breaks (haha.) .

How to reproduce:

Create a cell with only one single CellText. Causes this StackoverflowError:

[code]

Quick fix **is to add an empty character to the given CellText.** Looks a bit off when entered or right aligned but is still better then nothing. Will next week look into this issue myself if it isnt fixed until then, but due

[2018-11-19 14:38] vandeseer commented on #20
Thanks for pointing that out @TheSilentHorizon!

Actually I made a TODO note already in one of the tests because I stumbled across that as well: https://github.com/vandeseer/easytable/blob/develop/src/test/java/org/vandeseer/easytable/structure/cell/CellTextTest.java

Unfortunately I didn't yet fix it though ... :D
But it's on my list now (again).

PS: Also note that currently it's not possible to

[2018-11-19 19:36] vandeseer commented on #20
Could you check out the latest commit on `develop`? It should be fixed. If everything's alright I will merge to master soon, because some other things are also ready :)

[2018-11-20 20:25] #18 closed, assigned to nobody

[2018-11-20 20:34] vandeseer commented on #20
I merged it to master now after creating a small test PDF which looked fine. Just reopen the issue in case you don't think it's fine ;)

[2018-11-20 21:38] TheSilentHorizon commented on #20
Latest build turned my single char elements invisible. Have you tried testing it with digits?

[2018-11-21 08:33] vandeseer commented on #20
Sorry to hear that. Could you post your code so that I could reproduce it? Thanks already :)

[2018-11-21 08:39] TheSilentHorizon commented on #20
**How it is**

![image](https://user-images.githubusercontent.com/29006783/48828796-fb1e7f00-ed70-11e8-822f-36919d4d04d4.png)

**How it should be**

![image](https://user-images.githubusercontent.com/29006783/48828865-25703c80-ed71-11e8-82ce-7b1d9107463c.png)

The line of code responsible for the amount of products being added to the row:

`                .add(CellText.builder().text(line.getAmou

[2018-11-21 08:55] vandeseer commented on #20
Actually I think your table is a pretty nice example of what the library could do for you – if it only worked, dammit 😆

Would you mind creating the code for that table in this folder https://github.com/vandeseer/easytable/blob/develop/src/test/java/org/vandeseer/integrationtest in a file of its own and pull request it to the `develop` branch?

That would make it easier for me to trace the issue a

[2018-11-21 21:12] vandeseer commented on #20
I quickly hacked together a table like the one you posted above. You can find the code here:
https://github.com/vandeseer/easytable/blob/develop/src/test/java/org/vandeseer/integrationtest/WordWrappingTest.java#L42

The output looks like this:

![example3](https://user-images.githubusercontent.com/9912755/48868521-22f5fd00-edda-11e8-99f9-bc472127c930.png)

So could it be the case that you have an

[2018-11-21 21:17] vandeseer opened #21 "Offer different styles of borders"
Like dotted, dashed etc.

Also see: https://stackoverflow.com/questions/30590780/how-to-draw-dotted-line-in-pdfbox

[2018-11-22 08:13] TheSilentHorizon commented on #20
Will look onto it on the weekend, currently busy ;)

[2018-11-23 11:12] paal1 opened #22 "Border on table is not applied"
Hello,
I try to put different border and color and is never show.
Great project.
Thanks

[2018-11-23 15:13] vandeseer commented on #22
Hey @paal1, could you provide your code and describe a little better what exactly is not working?

Also have a look at the examples here: https://github.com/vandeseer/easytable/tree/master/src/test/java/org/vandeseer/integrationtest

It should hopefully cover what you are searching for ;)

[2018-11-23 16:18] paal1 commented on #22
Should draw a border around the table.

Example:
TableBuilder table;
table.setFont(HELVETICA)
	.setBorderWidth(1)
	.setBorderColor(Color.Black);

[2018-11-24 09:45] vandeseer commented on #22
Please have a look at this file for instance: https://github.com/vandeseer/easytable/blob/master/src/test/java/org/vandeseer/integrationtest/WordWrappingTest.java

So your code should look like this:

    final Table.TableBuilder tableBuilder = Table.builder()
                .addColumnsOfWidth(8, 8, 8)
                .fontSize(12)
                .font(HELVETICA)
                .borderColor(Col

[2018-11-24 20:34] paal1 commented on #22
I thought the method was to create a border around the table.
Why the method setBorderWidth in the table if is not used?

[2018-11-24 22:47] vandeseer commented on #22
Which version are you using? There shouldn't be any publicly accessible "setBorderWidth" method on the table builder (and neither on the table) anymore in the latest version.

[2018-11-24 22:53] paal1 commented on #22
I think is from a month ago.

[2018-11-27 15:06] AdrianMiska opened #23 "Building a Row does not set the Settings for the Cells leading to a NullPointerException"
Hello :)

I think I found a bug with the new Settings object. I have taken this example from your tests and slightly modified it:

[code]

If I call `row.getHeight()` now,  I get a NullPointerException. This used to work in version 0.1.0.
If I first call `tableBuilder.build()` and `row.getHeight()` afterwards, it works just fine.

I've identified that this is caused by the Cell Settings being fill

[2018-11-27 16:00] vandeseer commented on #23
Hey @AdrianMiska, thanks a lot for reporting this and also thanks for already analysing! :)
I will have a look as soon as I find time for it, which will most probably be next week ...

[2018-11-27 16:03] vandeseer commented on #22
I will close the issue now since it's possible to add a border around a table, i.e. it's not a bug.

[2018-11-27 16:03] #22 closed

[2018-12-09 15:47] vandeseer commented on #23
This is a tricky one. The basic issue is that there are inter-dependencies between the table and row settings as well as the column widths: In order to know the height of a cell we would need to know the column it is located in, but that only the table knows. But at the time we are building the row we don't know the table yet.

I think that I initially planned not to expose the `getHeight()` metho

[2018-12-09 16:01] AdrianMiska commented on #23
Tricky indeed.

The implementation of my pull request allows a workaround by building an empty dummy table with the same columns and manually setting a dummy column for each cell when building it. Pretty hacky and I agree that a cleaner solution would be preferable.

My use case is rendering long tables over multiple pages. I'm looping over my data creating rows and for each row determine its heig

[2018-12-09 16:18] vandeseer commented on #23
I added one commit to your pull request: that's how I would deal with it for now, because from my point of view the builders for the cells and rows are just some means of collecting their properties.

Regarding your use case: Could the "endY/multipage feature" be of use for you? I mean:

    final PDDocument document = new PDDocument();

    TableDrawer drawer = TableDrawer.builder()
            .

[2018-12-09 16:35] AdrianMiska commented on #23
Yeah, your changes make sense ^^

Wow, I didn't know about `endY`/`isFinished`.
Looks a lot cleaner than what I'm currently doing. I'll try it.

[2018-12-09 17:54] vandeseer commented on #23
Ok, I will merge the pull request then and close this issue. I hope you get your stuff done with the `endY` thingy ;) If this is useful for you or if you think there is something missing, let me know. Also I am always looking for nice examples, so if you think your table/document is worth sharing, also let me know and I will add it to the examples.

[2018-12-09 17:55] #23 closed

[2018-12-14 12:05] TheRealSourceSeeker commented on #20
Had the same issue when using the first blue table shown under "Example". To reproduce, just open "org.vandeseer.integrationtest.ExcelLikeExampleText.java" and replace for example `"Gin"` with `"Kr."` or `"K."` (in the 2D array `final Object[][] data = {`). "Kr." becomes "K-" + NewLine + "r.", while "K." isn't shown at all. To fix this, I compared the `maxWidth` values of the `private void drawCel

[2018-12-14 16:19] vandeseer commented on #20
Thanks a lot for your comment @TheRealSourceSeeker! 👍 :)
I will definitely have a look.

[2018-12-21 13:47] TheSilentHorizon opened #26 "Get Height of Row"
Hey, sorry for no response on the other thread, will get to that later. So, question:

row.getHeight() only works apparently when i fake a table like here:

[code]

Is there a way to return the expected row Height (need it for formatting multipage bills)

[2018-12-21 15:06] TheSilentHorizon commented on #26
Ok, figured it out myself:

To calculate the RowHeight, the Row needs to have all information later added from the table,

So something like this works:

`        Table dummy = Table.builder().addColumnOfWidth(70)
                .addColumnOfWidth(270)
                .addColumnOfWidth(70)
                .addColumnOfWidth(70).wordBreak(true).addRow(row).build();`

I dont like this solution but it

[2018-12-21 21:47] vandeseer commented on #26
Hey @TheSilentHorizon, please also have a look at the discussion here: https://github.com/vandeseer/easytable/issues/23 – in particular this comment: https://github.com/vandeseer/easytable/issues/23#issuecomment-445550423.

TLDR: If you need to build a table over several pages there is feature for that ;)

[2019-01-01 20:47] vandeseer commented on #3
Will close this now, since it's available now :)

        <dependency>
            <groupId>com.github.vandeseer</groupId>
            <artifactId>easytable</artifactId>
            <version>0.3.0</version>
        </dependency>

[2019-01-01 20:47] #3 closed

[2019-01-01 20:48] vandeseer commented on #20
It should be fine now – if you encounter any issues, please let me know and open a issue again. Thanks.

[2019-01-01 20:48] #20 closed

[2019-01-04 23:46] #26 closed

[2019-01-15 15:10] egoossens commented on #5
Thanks for this library. I can't seem to understand how row spanning works. Can you point me to the methods I should use? Thanks!

[2019-01-16 08:22] vandeseer commented on #5
Hey @egoossens, row spanning is indeed implemented but not yet released ... ;)

It is still in the `development` branch: https://github.com/vandeseer/easytable/tree/develop (you will also find an example in the README, or just look here: https://github.com/vandeseer/easytable/blob/develop/src/test/java/org/vandeseer/integrationtest/ExcelLikeExampleTest.java#L117) – but I think I will release again

[2019-01-16 09:03] egoossens commented on #5
Thanks for getting back @vandeseer. I'm looking forward to the next release then (I'm having trouble using the develop branch in my Gradle project).

[2019-01-17 18:10] vandeseer opened #27 "Allow header row to be added on each page for multi-page tables"
If a table is drawn over several pages the header row should be shown on top of each new page.

This should be configurable, e.g. in the builder for `TableDrawer`.

Also see: https://stackoverflow.com/questions/54233886/pdfbox-header-in-all-pages-using-easytable

[2019-01-18 10:00] unknownzone96 opened #28 "Infinite draw loop bug"
When a cell in the table of the drawer has text that exceeds the length of the page, then the draw() method never finishes. Edit the TwoPagesTableTest integration test

public class TwoPagesTableTest {

    @Test
    public void createTwoPageTable() throws IOException {
        final Table.TableBuilder tableBuilder = Table.builder()
                .addColumnOfWidth(200)
                .addColumn

[2019-01-19 12:18] vandeseer commented on #28
Hi @unknownzone96, thanks for reporting this!

I will have a look (as soon as I find some free time for it).

[2019-01-19 16:40] vandeseer commented on #5
The release should be out now, version 0.4.0 @egoossens. I hope everything works as expected, let me know in case it does not. If you create some nice tables that you think are worth sharing, please also let me know ;)

[2019-01-20 20:18] egoossens commented on #5
Thanks @vandeseer! Seems to work as intended... Nice work!

[2019-01-21 17:00] vandeseer opened #29 "Allow for easier reuse of classes from outside"
Currently easytable is suffering from "excessive data hiding", e.g. you cannot easily subclass the `TableDrawer` class because its constructor is `private`. That makes it unnecessary hard or prohibits simple customisations for the library user.

[2019-02-08 02:45] bangieff opened #31 "Exception when adding cyrillic text"
I tried creating a table with cyrillic text in it, but I get an exception in TableDrawer->draw(); The same snippet works fine with text in English.

        final Row headerRow = Row.builder().add(CellText.builder().text("Проба").build()).build();
        tableBuilder.addRow(headerRow);
        float startY = page.getMediaBox().getHeight() - 10;
        TableDrawer.builder().contentStream(contentS

[2019-02-08 11:09] vandeseer commented on #31
You will need to load a custom font for cyrilic characters. The default font that is used for tables in easytable is `PDType1Font.HELVETICA` and it doesn't support them. So you will also experience the same issue if you just use PDFbox and create a PDF with the text you mentioned:

    final PDPageContentStream contentStream = new PDPageContentStream(document, page);
    final String text = "Проба

[2019-02-08 11:09] #31 closed

[2019-02-23 00:02] hooperbill opened #32 "Image not centered if row height modified by text"
I have a row of cells and in one cell the text wraps causing the row height to increase. One of the cells contains an image and when this row height increase occurs the image is aligned to the bottom of its cell. Setting the vertical alignment to MIDDLE does not affect the image placement.

[outputA.pdf](https://github.com/vandeseer/easytable/files/2896245/outputA.pdf)
[outputB.pdf](https://github

[2019-02-23 09:01] vandeseer commented on #32
Thanks for reporting @hooperbill! I will have a look as soon as a find a bit of time. Also I am always open for pull requests ... ;)

Best,
Stefan

[2019-02-23 16:13] vandeseer commented on #32
I created a branch with a fix: https://github.com/vandeseer/easytable/tree/issue32
Turned out that alignment was only implemented for text cells so far (I didn't really use this feature myself).

So you could build that branch and use it already. For a release I want to add some more tests and refactor/tidy up the code a bit which I will do in the next days or rather weeks – depending on my spare

[2019-02-23 16:16] vandeseer commented on #28
I am still not sure how to deal with that, but I think I will add an exception that is thrown as soon as it's clear that the drawing will inevitably run into this infinite loop. Solutions like automatically splitting the text or similar are just too complex to implement given the frequency this is expected to happen.

[2019-02-26 19:04] hooperbill commented on #32
Many thanks! Will look for time to try out the develop branch.

[2019-02-28 07:56] AndreKoepke opened #34 "Multiple Fonts"
For a project we have different fonts. The regular fonts, for "normal" characters. And "fallback"-fonts, for ❤ (emojis).

Our example for this fallback-method looks like this:
[code]

[2019-02-28 14:12] vandeseer commented on #34
I think this is pretty closely related to https://github.com/vandeseer/easytable/issues/29. Because if the `TableDrawer` class would allow for easier reuse from outside one could just override the respective methods for this case.

[2019-02-28 14:19] AndreKoepke commented on #34
That would be nice.

[2019-03-02 13:43] vandeseer commented on #32
Just released version 0.4.1 which should remedy this issue. Please let me know if it does not. And if you have some nice looking tables to share, please let me know! :smiley:

[2019-03-02 15:54] vandeseer commented on #34
Please check out the `develop` branch, I updated the code accordingly and also added an example class (together with a hint in the `README`). For your specific use case it should exactly work as in the example class: [EasytableCustomTableDrawer](https://github.com/vandeseer/easytable/blob/develop/src/test/java/org/vandeseer/custom/EasytableCustomTableDrawer.java)

For installing the current snapsh

[2019-03-07 10:52] vandeseer commented on #34
Did it work @AndreKoepke? Just wanted to confirm it also from your side before I do the next release.

[2019-03-07 11:48] AndreKoepke commented on #34
I didn't tested it yet. I will try to do it in the next few days.

[2019-03-11 13:17] AndreKoepke commented on #34
https://github.com/vandeseer/easytable/blob/799929001c5f3184b2ba16fe6078d96972cc41c9/src/main/java/org/vandeseer/easytable/TableDrawer.java#L49

The constructor must be `public`. I cant use in the current version.

[2019-03-11 13:19] AndreKoepke commented on #34
See https://github.com/vandeseer/easytable/pull/35

[2019-03-11 13:44] vandeseer commented on #34
It is `protected` in the `develop` branch, as I pointed out above (see [here](https://github.com/vandeseer/easytable/blob/develop/src/main/java/org/vandeseer/easytable/TableDrawer.java#L49)).

You would need to install that branch manually via `mvn install -DskipTests -Dgpg.skip`. Then you can reuse the `TableDrawer` like so:

    @SuperBuilder
    private static class CustomTableDrawer extends Ta

[2019-03-11 13:55] AndreKoepke commented on #34
Whuups, was on the wrong branch. My bad. :D

[2019-03-11 17:26] hooperbill commented on #32
I was able to test version 0.4.1 and the image is correctly centered vertically. But the horizontal centering appears to now be broken. It appears that the image is centered on the image's left edge. This may be simply a math error that does not take the image width into account when calculating the cent.
[output.pdf](https://github.com/vandeseer/easytable/files/2953475/output.pdf)

[2019-03-12 12:26] AndreKoepke commented on #34
Iam done. All our features working now, but easyTable needs some changes (look at pull-request).

[code]

[2019-03-12 14:48] vandeseer commented on #34
Glad you made it now and thanks for your pull request. I will look into it shortly and will then release a new version.

[2019-03-16 13:14] vandeseer commented on #32
A classic: The issue was that the image height was used where the image width should have been used. I didn't see it in the tests though, because I used a quadratic image ... :smile:

[2019-03-16 13:24] vandeseer commented on #34
Included in version 0.4.2.

[2019-03-16 13:24] #34 closed

[2019-03-16 13:25] #32 closed

[2019-03-16 13:27] vandeseer commented on #29
The `TableDrawer` does now allow for customizations (with version v0.4.2), I will leave this ticket open though – the different cells may suffer from the same disadvantage.

[2019-03-24 20:45] istiti commented on #27
Just discover this nice lib, how can we know  we can’t add row and break page?

[2019-03-25 14:09] vandeseer commented on #27
Please have a look at this example: [TableOverSeveralPagesTest.java](https://github.com/vandeseer/easytable/blob/master/src/test/java/org/vandeseer/integrationtest/TableOverSeveralPagesTest.java#L56)

The basic idea is to set the `endY` value in the `TableDrawer` that defines when it has to stop drawing.
You can also check the answer on the link to the stackoverflow question mentioned above.

[2019-03-25 17:14] istiti commented on #27
@vandeseer thank you. Already check this example but as you said there is endY() but in do{...}while there is another breaking  page manager. Is both needed? It is a little out of scope to me.
Another requirement for me would be how can i know in advance if multiple rows (2 or 3) could be drawed  to keep them together thank you

[2019-03-25 19:53] vandeseer commented on #27
What are trying to achieve exactly @istiti?

But yes, you need both:
- Some kind of "managing the pages" (i.e. setting the content stream on every new page on the table drawer)
- The definition where on the page the limit is reached so that the drawing is continued on the next page (i.e. the `endY` value)

Regarding that `endY` value you will need to do some calculations on your own, depending on

[2019-03-25 21:06] istiti commented on #27
@vandeseer tank you for consideration!
im talking about these two requirements:
1. im trying to achieve this [repeat header+subHeader](https://drive.google.com/open?id=1psBUukZq1_scaT4_gposYnWKq9k29-8T) here you can see header + subHeader "Switzerland" is repeated,

2. then this[ grouped-rows](https://drive.google.com/open?id=1lFLgZlqwnYOr-3lAv52PV6KxG3xTQaA_) feature, here you can see I want keep

[2019-03-27 08:20] vandeseer commented on #27
Ouh, that's a little bit more involved ;) If I find some time in the next days I can have a look, but don't expect too much. In theory you should be able to implement it by extending the `TableDrawer` class and adapt the relevant methods to your needs.

[2019-03-28 15:57] ZhiLiGod opened #37 "Sending the PDF via slack and I got wrong encoding"
All characters in the table show wired characters if I send the Pdf via Slack. Also, if I copy the text in the table from pdf to notepad, shows wired characters.

[2019-03-28 16:41] vandeseer commented on #37
Does this also happen for a PDF document generated with PDFbox and the same fonr but without any tables?
What was the code and the resulting PDF? Could you post it here?

[2019-03-28 18:05] ZhiLiGod commented on #37
I haven't tried to put plain text in PDF document but my program is using your table builder to build a table in PDF document. Below is how it looks like if I send the pdf via Slack.
![image](https://user-images.githubusercontent.com/29784334/55181558-c9d11800-5183-11e9-9dd8-13a5a45fa504.png).
It looks fine in Adobe but If I copy the text the notepad, shows wrong characters, seems like encoding pr

[2019-04-01 13:21] plpanda commented on #27
I hope including the Header at the top of the table in every page is not included. How can we improve that ?  Any Suggestions ...

[2019-04-07 15:10] vandeseer commented on #27
For drawing the header repeatedly on every page the subclass looks as follows (will be included in the next relesae): [HeaderTableDrawer.java](https://github.com/vandeseer/easytable/blob/develop/src/main/java/org/vandeseer/easytable/RepeatedHeaderTableDrawer.java)

@istiti You would need to adapt it a bit so that a 2nd header row is added. Could you provide me with the table structure you already

[2019-04-07 18:13] istiti commented on #27
@vandeseer thank you a lot considering my feature request. TBH it is a little out of scope to me. I propose two features :
1. Grouped rows
2. Repeat header and subheader

Which on your code cover?

And what you think to use this simple table with two column and fake data  I uploaded above to get a try?

This is our requirement if I succeed with your lib I can definitly choose it in our project so

[2019-04-08 12:34] vandeseer commented on #27
The code above covers the repeated header (no subheader though). If time allows I can also sketch a version with subheaders being repeated as well.

For the grouped rows you could just use row spanning, because then the page will break if a row doesn't fit on the page anymore; example code: https://pastebin.com/jCerBU99

[2019-04-08 12:39] vandeseer commented on #37
I couldn't reproduce this behaviour and I from my point of view this shouldn't be related to easytable at all since it's just using what PDFBox provides it with. Most probably you will get the same issue not using easytable, i.e. having a PDF document with the same font but no tables. Hence I will close ticket.

[2019-04-08 12:39] #37 closed

[2019-04-11 17:58] feyzaeksen opened #38 "Exception when CellText Font is Symbol Font"
I tried to set the text of CellText as uppercase sigma character. In order to do this I used the code below

[code]

It gives the following error
`java.lang.IllegalArgumentException: U+2013 ('endash') is not available in this font Symbol encoding: SymbolEncoding`

Thanks

[2019-04-12 08:37] vandeseer commented on #38
Hi @feyzaeksen,

this is not an issue of easytable but a problem with the font. You will run into this issue as well if you only use PDFBox. I created a gist to illustrate the problem: https://gist.github.com/vandeseer/46271f3e103e336b609edca4234dd4af

Here you will run into the same issue not using easytable at all.

Also have a look here:
- https://stackoverflow.com/questions/46470158/pdfbox-u00

[2019-04-12 08:37] #38 closed

[2019-04-17 17:04] hooperbill opened #39 "Hyperlink support"
Include hyperlink link support for the contents of a cell.

[2019-04-18 18:23] hooperbill commented on #39
After some additional research I determined that adding hyperlinks is problematic as the creation of an annotation is required and that annotation is then added to the page. This then requires the caller to keep track of any add annotations and add them to the page after the table is drawn. The table drawer is unable to do this as it only has access to the page content stream and has no direct acc

[2019-04-23 11:28] vandeseer commented on #39
Hey @hooperbill, thanks for offering to share your solution :+1:

I am thinking about a `CustomCell` class that would maybe also allow for easier customizations like the one for hyperlinks. It is currently in a feature branch and I'm still not sure about whether the solution is acceptable for releasing ... :smile:

If there is an easy way to share your solution (e.g. by creating gist, or a pull re

[2019-04-24 20:43] hooperbill commented on #39
I will find a way to share my code. In the mean time I will close this issue.

[2019-04-24 20:43] #39 closed

[2019-04-25 00:02] hooperbill opened #40 "Row spanning affects image resizing in the next cel"
I have two rows where the first cell of each row is spanning the two rows. The remainder of the cells in each row contains images. The first row of images is sized correctly, but the first cell of the second row will resize image in the first cell with the remaining cells in the row sized correctly.

If I disable the row spanning of the first cell all the images are sized correctly.

I have not fo

[2019-04-25 20:52] vandeseer commented on #40
Interesting. Thanks for reporting! As soon as I find a bit of time (can possibly take a bit longer) I will have a look.

[2019-05-06 13:06] loehra opened #41 "Build 0.4.2 on maven central depends on Snapshot version of pdfbox 2.0.16"
... I stongly suggest to bind the library build to a fixed *release* version of PDF Box, i.e., to replace the version of the PDF box dependency as current:

<version>[2.0.4,)</version>

with e.g.,

<version>2.0.15</version

[2019-05-07 09:53] vandeseer commented on #41
Thanks loehra for your comment.

The expression with the open interval should only guarantee a PDFBox version higher than 2.0.4. I assume the reason why you have a snapshot version is because you have a snapshot repository activated in your maven settings.

You should be able to easily set a specific PDFBox version for your build in order to overcome this issue. But easytable itself does not depen

[2019-05-15 08:30] manios commented on #41
Hi @vandeseer ,

I think that the solution you proposed is not applicable in all cases. I encountered the same problem in a central CI tool (Jenkins, Bamboo, etc) where I did not have access to the `settings.xml` in order to switch snapshots to `false`. Long story short, I ended up including `pdfbox` itself and excluding it from `easytable`:

[code]

Before doing that I have also tried (according

[2019-05-15 08:34] loehra commented on #41
Christos,
thanks for the reply. Indeed, excluding from easytable and adding "some" version manually did the trick.
I still don't think that using those ranges is a good thing to do in the first place. Two Maven runs with no change to the poms or source code might end up in a different result, e.g., if a new PDF box version had been released in between. It jeopardizes the stability of ones builds.

[2019-05-15 11:21] vandeseer commented on #41
Thanks @loehra and thanks @manios for sharing your issues and thoughts.

I think you are right, there should be a fix release version of PDFbox which easytable should depend upon. I will change that soon (not before next week though since I am traveling right now), and will hence reopen this issue.

[2019-05-20 06:59] aatoma opened #42 "Overlapping borders"
I'm facing an issue with borders of different color and width.
The output of the following snippet of code is attached

[code]
the upper white border of the first name cell, falls in the middle of the thicker black header border, while the upper white border of spare rows hides the lower black border of value cells.
Is this a real issue or am I doing something wrong?

[2019-05-20 11:26] vandeseer commented on #42
Hey @aatoma,

even though I can't have a proper look right now (I am traveling and I don't have a computer with me), I can hopefully already give you some ideas on how to overcome your issue: The drawing of the borders is done from top left cell to bottom right cell, one by one (if I recall that correctly). That means if there is a cell with all borders (top, bottom, left, right) being red and the

[2019-05-27 14:34] plpanda opened #43 "Takes too long to draw and create pdf."
The pdf drawing takes too long. Like to get a 300 pages pdf from dynamic data creating 300 tables i.e. a table on each page, it took me 3 minutes. Any way for faster performance.

[2019-05-28 06:44] vandeseer commented on #43
Hi @plpanda,

First of all: performance was never a design goal of the library. It was not primarily intended to create such large documents in a very time efficient way.

Having said that it would of course still be nice to have an easy to use lib that *is* actually drawing quickly.

Can you share your code?
And did you also try to create a huge document with 300 pages without any tables? Did it

[2019-05-28 07:04] plpanda commented on #43
For each table, I used
`RepeatedHeaderTableDrawer drawer = RepeatedHeaderTableDrawer.builder()
				.table(create())
				.startX(30)
				.startY(775F)
				.endY(25F) // note: if not set, table is drawn over the end of the page
	            .build();

		do {
	          PDPage page = new PDPage(new PDRectangle(1150,800));
	          document.addPage(page);
	          try (PDPageContentStream contentS

[2019-06-16 17:26] vandeseer commented on #40
I could find the issue and committed a fix to the `develop` branch (https://github.com/vandeseer/easytable/commit/5c19f5e4555d976a05043808389660b892a08048). In the next days I will also release a new version. Thanks again for reporting!

[2019-06-16 17:33] vandeseer commented on #41
I fixed it in the `develop` branch now and within the next days I will also release (I guess latest next weekend).

[2019-06-17 17:57] vandeseer commented on #27
Repeated headers on every new page is now possible with version 0.4.3. Hence I will close this issue.

[2019-06-17 17:57] #27 closed

[2019-06-17 17:58] vandeseer commented on #40
The fix is released with version 0.4.3, I will hence close this ticket.

[2019-06-17 17:58] #40 closed

[2019-06-17 17:59] vandeseer commented on #41
Released it (version 0.4.3, depends on PDFBox 2.0.15).

[2019-06-17 17:59] #41 closed

[2019-06-17 18:43] hooperbill commented on #40
Many thanks!

[2019-07-01 13:18] Nonononoki commented on #43
I'm having a similar issue with create few pages with a large dataset in DIN A1 size

[2019-07-01 15:39] vandeseer commented on #43
Can you share your code @Nonononoki? I would nice to have a minimal working example that illustrates the problem.

[2019-07-02 08:10] Nonononoki commented on #43
I mostly use the code from the examples. This code uses A2 instead of A1 but it's just as slow.

	//Some colors
			    final Color HEADER_COLOR = new Color(76, 129, 190);
			    //final Color ROW_COLOR = new Color(250, 250, 250);
			    final Color ROW_COLOR = new Color(255, 255, 255);
			    final Color BORDER_COLOR = Color.GRAY;

			    //final int COL_WIDTH = 100;
			    final int BORDER_WIDTH

[2019-07-02 19:05] vandeseer commented on #43
Thanks for sharing. As soon as I find some time I will have a look.

[2019-08-03 06:52] vandeseer commented on #43
I finally found some time to carry out a few tests with the code you provided me with @plpanda. To be precise, this was the code: https://gist.github.com/vandeseer/deafdad48688376ef71bf4aaec9cf23e
So I created one document with a huge table of several thousand rows.

I ran the test on my 7 year old laptop, i.e. I expect the code to be *way quicker* when run on more powerful metal:

| Number of Row

[2019-08-03 06:58] vandeseer commented on #43
@Nonononoki can you provide me with a minimal full working example? I mean a Java class that I can just run? Thanks!

[2019-08-05 06:50] Nonononoki commented on #43
@vandeseer I mostly used the code from the examples, so you can just use those

[2019-08-05 13:14] vandeseer commented on #43
I ran another test using this code: https://gist.github.com/vandeseer/b1455419486b16b757494ae8aa408502

This is basically the example from the README but with an increased size of rows. Still the results are more or less what I would expect in terms of runtime (again on my old laptop):

| Number of Rows | Resulting Number of Pages |  Time |
| ---: | ---: |  ---: |
| 100  | 8 | 2.8s |
| 500  | 40 |

[2019-08-08 06:05] SagarKadu opened #44 "Pagination not working properly for multiple tables with multiple pages"
How to draw multiple tables paginated across different pages using current lib..i.e. new table should be drawn next to existing one in paginated fashion

[2019-08-08 06:59] vandeseer commented on #44
I will have a look to come up with a simple example as soon as I find some time for it. Maybe you can already share what you tried so far.

[2019-08-08 07:30] SagarKadu commented on #44
I tried ExcelLikeExampleTest with 2 tables..as long as 2 tables have data within 1 page it works fine but if data grows over 1 page for any one of the table it breaks..I tried combining example of TableOverServeralPages with ExcelLikeExampleTest but it doesn't work properly

[2019-08-11 15:55] vandeseer commented on #44
After having a closer look I think the easiest solution is to adapt the `TableDrawer` class a bit in the library. The idea is to add an additional member that stores the `y` value at the end, i.e. when drawing the table is finished.

[2019-08-16 21:12] snorhax opened #45 "There Seems To Be No Way of Creating a Multipage Table Starting On Existing Page"
According to your integration test, the way to draw a multipage table is:
[code]
But this seems to call a new page for every section of the table. On the other hand, if I list an existing page, the table will just overwrite the same page. Would it be too hard to provide a function or class that takes two PDPage objects? The first would be the initial page the table starts in. The second would be a

[2019-08-16 21:25] snorhax commented on #45
Of course, in the meantime, I would've just overridden the RepeatedHeaderTableDrawer class myself while waiting for official patch, but as was mentioned in a prior issue ( #29 ), there's a lot of data hiding that stifles this.

[2019-08-19 19:34] vandeseer commented on #45
Hi @snorhax, thanks for sharing your thoughts. You are right that there is a shortcoming here. It is also connected with https://github.com/vandeseer/easytable/issues/44, because if the issue you mentioned was resolved already that could be as well (at least partially).

The thing is: I do not have enough time right now to come up with a proper fix. Chances are rather low that I will implement thi

[2019-09-11 08:58] planbuildrun commented on #43
It seems to me that neither the number of lines, nor the resulting number of pages is a problem, but the size of the cells.
In our application we may have rather large cells with a few hundred or even more than a thousand characters, and this extremely slows down the PDF generation.

I created a small test class to prove my point:

[code]

[2019-09-11 14:48] vandeseer commented on #43
Thanks a lot for your analysis @planbuildrun! 👍
I will have a look again (as soon as I find time for it)! Maybe it's related to line breaking ...

[2019-09-12 06:05] planbuildrun commented on #43
I haven't checked the code in detail yet, but from the test results, I'd say it's not the linebreaking per se. E. g. there's a huge gap between 100 and 150 chars (~ factor 10), although both end up with one linebreak each, and therefore the number of pages is identical.
Anyway, I'd be happy if you can have a closer look. :)

[2019-09-19 08:38] arunggh commented on #45
If Possible can you please share your fix? Many thanks.

[2019-09-22 14:44] styssi commented on #45
Added a Pull Request that fixes the issue for me
https://github.com/vandeseer/easytable/pull/46/files

[2019-09-23 08:00] vandeseer commented on #45
Thanks a lot for your pull request @styssi :+1:
I will release a new version shortly containing this change.

[2019-09-23 10:40] styssi opened #48 "A1A and accessibility"
Hi, I am planning on adding A1A and accessibility to the easytable framework, because I need this. Can you please add a branch for me, I can work on. I would like to push some code in between, instead of pushing everything in the end.

[2019-09-23 13:22] vandeseer commented on #48
Hi @styssi, I can do that, but I don't yet understand why it's needed: You could just create a branch on your fork (and rebase onto or merge "my" `develop` branch once in a while) and whenever you have something that should be included, you just open a pull request. From my point of view that'd be the easiest, but if there is any stronger point in open a separate branch on the original repo, we ca

[2019-09-23 19:55] styssi commented on #48
Ok. Is fine with me.

[2019-09-24 20:20] #45 closed

[2019-09-29 08:09] vandeseer commented on #45
Fix is included in v0.5.1

[2019-09-29 08:12] vandeseer commented on #44
The issue is fixed with release 0.5.1. One can now draw several multipage tables on the same document.

[2019-09-29 08:12] #44 closed

[2019-09-29 20:18] vandeseer commented on #43
After having had a closer look I can confirm that the basic issue is calculating stuff too many times instead of caching them. I implemented a solution, but I will still need to clean up the code and ensure that there's no regression (shouldn't be, but you never know). Hopefully I can release a new version within the next week. Will keep you posted.

[2019-10-03 07:39] pionas opened #50 "Problem with cell - one of them is empty"
My code:
[code]

[2019-10-03 07:45] vandeseer commented on #50
Thanks for reporting, I will have a look.

[2019-10-03 09:07] pionas commented on #50
In my opinion the problem is with skipped columns... -> https://github.com/vandeseer/easytable/blob/master/src/main/java/org/vandeseer/easytable/structure/Table.java#L121

I must add this code:
[code]
before line 121 and it work but this is not the solution

[2019-10-03 09:39] pionas commented on #50
I find the solution.
https://github.com/vandeseer/easytable/blob/master/src/main/java/org/vandeseer/easytable/structure/Table.java#L112-L114

must change to:
[code]

[2019-10-03 09:53] vandeseer commented on #50
Unfortunately this does not yet fix it. Try to run the test class `ExcelLikeExampleTest`. You will see that the second table is not rendered correctly now. But I think your change is pointing in the right direction :wink:

[2019-10-03 11:23] pionas commented on #50
I think you can't skip first row's cell because the first row's cell can be the second or third element for another row's cell...

[2019-10-03 17:19] vandeseer commented on #50
Should be fixed in `develop` branch now.

[2019-10-04 07:32] pionas commented on #50
Now it's okey :)
Good job :smile:

[2019-10-04 10:33] vandeseer commented on #43
The issue should now be solved with release 0.5.2.
Those are some numbers from the performance test:

| lines | chars | pages | time |
|--|-----|-----|-----|
| 1000 | 0   | 21 | 21 ms |
| 1000 | 50  | 21 | 71 ms |
| 1000 | 100 | 40 | 527 ms |
| 1000 | 150 | 40 | 3290 ms |
| 1000 | 200 | 63 | 7555 ms |
| 1000 | 250 | 63 | 14940 ms |
| 1000 | 300 | 84 | 25032 ms |

Looks way better ... :+1: :smiley:

[2019-10-04 10:33] #43 closed

[2019-10-04 10:33] vandeseer commented on #50
Fixed in release 0.5.2

[2019-10-04 10:33] #50 closed

[2019-10-04 14:35] vandeseer commented on #28
It should be fixed now in `develop` (with commit https://github.com/vandeseer/easytable/commit/9abcfce38d32208c186552ceefc92a239e5664d6)

[2019-10-07 10:09] vandeseer commented on #28
Refactored the code a bit, but left the logic the same. So in the next release the fix will be included.

[2019-10-07 10:09] #28 closed

[2019-10-07 10:11] vandeseer commented on #48
@styssi I refactored the code a bit in the last days on the `develop` branch (mainly the `TableDrawer` class). Just FYI ;)
Do you need any help or are you fine with working on your own branch etc.? If so, I would close this issue ...

[2019-10-07 10:51] styssi commented on #48
@vandeseer the issue can be closed. This is more refactoring, than I thought. If I would merge this, than easytable isn't downward compatible anymore.

[2019-10-07 13:48] vandeseer commented on #48
Maybe you can upload your changes to a branch of your repository and we can have a look on how to integrate it in the latest version of `develop`? I don't know how extensive your changes are and what exactly they will introduce, but it would be nice to have a look for sure.

[2019-10-08 07:23] styssi commented on #48
I can do that. Currently nothing is working :), but I will upload as soon as I have a stable release.

[2019-10-10 18:39] vandeseer opened #54 "Use delomboked code in sources jar"

[2019-10-11 08:27] reenanagdev opened #55 "Long cell text not handled in draw method of TableDrawer"
Long cell text spanning into multiple pages is not handled. Code gets stuck into infinite loop.

[2019-10-11 09:57] vandeseer commented on #55
Do you have a minimum working example where this happens @reenanagdev?
And could you try to run your code with the latest `develop` branch?

I think this is related to https://github.com/vandeseer/easytable/issues/28
A fix is already in the `develop` branch, but this is not yet released.

[2019-10-11 13:25] reenanagdev commented on #55
Yes, Issue I am facing is same as #28. Can you please share the fix for same?

[2019-10-11 13:42] reenanagdev commented on #55
I took the latest code from develop branch. However, I see that you are throwing an exception when row is too high to be displayed on single page. But it still does not display the required long text in pdf and generate it.

[2019-10-11 13:45] reenanagdev commented on #55
My requirement is allow 4000 characters in single cell. Only ~1400 characters are getting displayed as of now which is maximum what can be accommodated on single page in the cell.

[2019-10-11 14:11] vandeseer commented on #55
Well, yes: The "fix" is just to avoid the infinite loop. There is no mechanism to automatically split the text so that it fits in the page and the table continues on the next one. As of now I am also not planning to implement it, because I think that's very hard, especially given row and cell spanning. Users will need to split the texts themselves before drawing the table.

If you have ideas how t

[2019-10-14 07:46] planbuildrun commented on #43
Confirmed. Works lika a charm!

[2019-10-23 19:05] #29 closed

[2019-10-23 19:06] vandeseer opened #56 "Update to Java 11"
Also see:
- https://maven.apache.org/plugins/maven-compiler-plugin/examples/module-info.html
- https://beryx.org/talk-wjax-2019/#slide-51

[2019-10-30 10:33] tcerdaITBA opened #57 "Hyperlink text"
Hello, first of all thank you very much for releasing this great library. I wanted to ask if there has been any update on Hyperlink support. I can see in issue #39 that this was mentioned.

Moreover, I am in need also of underlining text so that it looks like a link. Is this currently possible?

Thank you very much.

[2019-10-30 20:48] vandeseer commented on #57
Hi @tcerdaITBA,
as of now there hasn't been any update on hyperlinks and I didn't yet need this by myself.
However I find it pretty interesting ;) Since there is the possibility to add custom drawing functionality or even custom cells I am pretty optimistic that it can be done; given it's easy for a "regular" PDFBox document ...
I will have a look as soon as I find time (currently I am travelling)

[2019-10-30 22:03] hooperbill commented on #57
Attached is an archive of what I am using. PDF hyperlinks  require a bounding box around the text or image you want to hyperlink. In my implementation I just created a bounding box slightly smaller than the cell. You then bind an annotation and URI to the bounding box. This creates a hyperlink that is active for the entire cell. An issue I encountered is that the annotations are add to the page an

[2019-10-31 13:08] tcerdaITBA commented on #57
Thank you very much for your quick responses! I will also look into a possible implementation should I find time.
Best regards,
Tomás

[2019-11-07 20:58] vandeseer commented on #57
Maybe it would make sense to extend the `TableDrawer` as well as the `DrawingContext` (which currently only holds the `PDPageContentStream`) to also hold the `PDPage`. This way one could have full access to the page and register the annotations there while drawing – which would mean that this data wouldn't have to be stored "outside". I think I will try to go in this direction ...

[2019-11-14 22:10] vandeseer commented on #57
I have some stuff working now, but it's really not yet ready for releasing. After tinkering a bit more I will upload what I have onto a new branch. Will keep you posted.

[2019-11-14 22:13] #55 closed

[2019-11-16 17:37] vandeseer commented on #57
The current state can be found in this branch: [feature/linked_text_cell](https://github.com/vandeseer/easytable/tree/feature/linked_text_cell)

See this file for how to use it: [LinkedTextCellTest.java](https://github.com/vandeseer/easytable/blob/feature/linked_text_cell/src/test/java/org/vandeseer/integrationtest/LinkedTextCellTest.java)

Note that it does currently not work for justified text a

[2019-11-18 17:53] hooperbill commented on #57
Looking good! Glad we could help out.

[2019-12-09 15:53] ligasgr commented on #57
Hi,
First of all... Thanks for great work!
On another note...
What is the release plan for this work? Any timelines in mind?
We are restricted to only using officially released versions so cannot use version sitting on a branch. Would be great to know what to expect.
Thanks!

[2019-12-09 17:02] vandeseer commented on #57
Hi @ligasgr,

actually I was not satisfied with the `LinkedTextCell` that is currently on the mentioned feature branch. The reason being that with the current approach one can neither do link coloring nor will it work properly with text brakes.

Luckily someone else already created a nice library that is capable of adding [hyperlinks](https://github.com/ralfstuckert/pdfbox-layout/wiki/Hyperlinks)

[2019-12-10 09:39] ligasgr commented on #57
That sounds brilliant! Thanks for your effort!
In our case we collate a lot of information from multiple systems to generate release runbooks and the links functionality is needed to point back to the locations in the original sources of information.
Hope this makes sense!

[2019-12-15 21:52] vandeseer commented on #57
Just released version 0.6.0 where I introduced the new `ParagraphCell` type. Please find a bit more information in the README and in the linked new code examples. Let me know if it works for you (my tests were successful so far, otherwise I wouldn't have released :wink:)!

[2020-01-08 08:05] #57 closed

[2020-01-16 05:34] arunmurukesh commented on #44
Unable to determine the Y coordinate for the second multipage table within same document, Table is being drawn with more space.

Please share me a working example if anyone has

[2020-01-31 18:18] INPUTsys-Chris opened #59 "Questions regarding 0.6.0"
Hi,

imagine I want to add a table in a header section of a pdf. So I render the content area for all pages in the pdf and afterwards i want to render a table containing "Page x of 10" in the top area on every page.

This was not easy in 0.5.2 but I managed to subclass "TableDrawer" to not use the last page of the document every time draw() is called. In 0.6.0 this is not so easy anymore because o

[2020-02-01 17:28] vandeseer commented on #59
Hi @INPUTsys-Chris,

I am not sure if I understood your problem correctly, but one way to do that could be like so: https://gist.github.com/vandeseer/6758c76fc4070a5bddd016c4311bc359

Regarding your second question I will have a look on how to do that the easiest way. It should be possible.

Best,
Stefan

[2020-02-01 17:38] vandeseer commented on #44
Hey @arunmurukesh, please have a look at https://github.com/vandeseer/easytable/issues/59 – there is an example on how to do it.

[2020-02-02 22:51] INPUTsys-Chris commented on #59
Hi Stefan,

thank you for your quick response.

Regarding the y-coordinate problem (question 2): I had a similar solution when using 0.5.2, overwriting drawBorders. Your solution works perfectly. Thank you

Regarding the header/footer solution: there were some bugs in my code like adding the page in pagesupplier to the document on my own. But the main problem was using:

**public void draw(Supplie

[2020-02-03 07:00] vandeseer commented on #59
Glad I could help you. :smiley:

Best,
Stefan

[2020-02-03 07:00] #59 closed

[2020-02-04 22:14] vikramtambe opened #60 "Support of Rectangle in Table Column"
I have a requirement where I want to draw rectangle in each column of rows.

e.g. I want to show the estimates and actual hours worked using filled rectangle color (RGB) for each row. In iText this can be achieved using PdfTemplate (rectangle, setRGBColorFill, setRGBColorStroke methods).

[2020-02-05 05:40] vandeseer commented on #60
Do you have an example how it should look like in the end? Generally speaking I would say it's possible, but I don't yet fully understand your requirement.

[2020-02-05 08:45] Skiid opened #61 "Table always gets added to the last page"
The table gets always added to the last page in my implementation.
Is there a way to add the copy of a table to each page? Would be handy to create footers or headers of a document.

[code]

[2020-02-05 10:12] vandeseer commented on #61
That's possible, maybe have a look here:
- https://github.com/vandeseer/easytable/issues/59
- https://gist.github.com/vandeseer/6758c76fc4070a5bddd016c4311bc359

Hope this helps!

Best,
Stefan

[2020-02-05 12:22] Skiid commented on #61
Thanks thats exactly what i needed why isn't this the normal behaviour of the table drawer?

[2020-02-05 12:46] vandeseer commented on #61
Actually it is! 😉

Have a look at the [minimum working example](https://github.com/vandeseer/easytable/blob/master/src/test/java/org/vandeseer/MinimumWorkingExample.java) which is also referenced from the README for instance.

You can simply call `.draw()` and that's it.

[2020-02-05 12:46] #61 closed

[2020-02-05 13:09] vikramtambe commented on #60
I would like to draw rectangles (RGB) color for each column in a table.
e.g. I am displaying dates as headers (weekends are merged into single
column.) I want to represent User capacity (Actual, unused, over allocated
and off ) of each day using Rectangles ( different colors for each
rectangle).
In short I should able to draw min 1 and max 4 rectangles in a given
column. As of now I do see only Im

[2020-02-05 13:10] vikramtambe commented on #60
![image](https://user-images.githubusercontent.com/24460200/73844633-90772900-47e6-11ea-9dfc-4d017ed4bc6a.png)

[2020-02-05 13:11] vikramtambe commented on #60
![image](https://user-images.githubusercontent.com/24460200/73844672-a4bb2600-47e6-11ea-8d6d-37c792ed2014.png)

[2020-02-05 13:11] vikramtambe commented on #60
![image](https://user-images.githubusercontent.com/24460200/73844728-be5c6d80-47e6-11ea-9946-7d55301e8efd.png)

[2020-02-05 13:16] Skiid opened #62 "Offset Bug in 0.6.0"
When i draw a repeated header table the endY gets shifted lower with every page the table gets drawn on. The vice versa effect happens with the header offset inside the .draw() function of the RepeatedHeaderTableDrawer (the table gets shifted higher every time the table reaches a new page).

[code]

On version 0.5.2 the offsets are working correctly.

[2020-02-05 13:37] Skiid commented on #62
The endY seems to work as expected but the headerOffset is still buggy

[2020-02-05 16:05] vandeseer commented on #62
Thanks for reporting @Skiid! Do you have a minimum working example where one can reproduce the problem?

[2020-02-05 20:51] vandeseer commented on #60
Yes, something like this should be doable by creating a custom cell type and/or a custom drawer. Maybe start by checking the samples in the test folder. If I find some time I might also look into this, because I find that an interesting idea for showing what one can easily do with small customizations ... ;)

[2020-02-05 20:59] vikramtambe commented on #60
I looked in test folder but did not find better solution which I am looking for. I know we need to create custom cell type which will allow to draw multiple rectangles in a single column.  As I said earlier, In iText this can be achieved using PdfTemplate (rectangle, setRGBColorFill, setRGBColorStroke methods).

[2020-02-06 17:05] vandeseer commented on #60
Hey @vikramtambe,

have a look at this gist: https://gist.github.com/vandeseer/5023d55b67c455596b2703e4a65df2d9

![image](https://user-images.githubusercontent.com/9912755/73960430-2d32e700-490b-11ea-8612-07a8a4ea5e3b.png)

It does pretty much what you are looking for, I think. Of course it still needs some adaptions, but it should be fairly simple to continue from there.

Best,
Stefan

[2020-02-07 08:16] vandeseer commented on #60
In response to your comment on the gist file @vikramtambe: I really don't know what the issue is here. It works perfectly fine for me with a fresh setup. So this doesn't seem to be related to easytable. Maybe you can share your complete code and/or ask e.g. on stackoverflow?

[2020-02-07 13:31] vikramtambe commented on #60
@vandeseer - Looks like the build issues. I am getting lots of compilation errors when just forked the repository. I would really appreciate if you could help me the resolve these so that I can add few more customization's.

![image](https://user-images.githubusercontent.com/24460200/74033471-d74a5780-497b-11ea-9e04-c795eeada718.png)

[2020-02-07 13:51] vandeseer commented on #60
Does it build with maven on the console? I guess you need to install the Lombok plugin for Eclipse.

[2020-02-07 14:16] vikramtambe commented on #60
Thanks @vandeseer . I am able to resolve the issues after installing Lombok plugin.

[2020-02-10 11:31] #60 closed

[2020-02-13 22:57] Daya2006 opened #63 "How to get the end position of last table in the page?"
Hi,
I am trying to add multiple tables appended in the same page.
Because i have a requirement to display the data from multiple table and the fomat for each data is Different, some needs to be written in 2 columns (cannot do the col span because the size of column should be less in this case )and some 4 -5 columns
Is therea way I can get the StartY location from the previous table which is writte

[2020-02-14 07:57] vandeseer commented on #63
Hi @Daya2006,

maybe have a look here:
- https://github.com/vandeseer/easytable/issues/59 and the corresponding gist:
- https://gist.github.com/vandeseer/6758c76fc4070a5bddd016c4311bc359

The basic idea is to create a custom table drawer that stores this information. Since several people asked about this already I may include this feature in one of the next versions.

Hope this helps!
Stefan

[2020-02-14 21:12] Daya2006 commented on #63
Hi ,

I tried using the below code , but getting error for the annotation
@SuperBuilder

@SuperBuilder
    private static class CustomTableDrawer extends TableDrawer {

        @Getter
        private float finalY;

        @Override
        protected void drawWithFunction(PageData pageData, Point2D.Float startingPoint, BiConsumer<Drawer, DrawingContext> consumer) {
            super.drawWithFunct

[2020-02-14 21:49] vandeseer commented on #63
What error exactly did you get? You will need to include the lombok dependency:

        <dependency>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
            <version>1.18.10</version>
        </dependency>

[2020-02-17 14:29] Daya2006 commented on #63
thanks ..will try this out and let you know if I am able to get the desired result.

[2020-02-17 15:18] Daya2006 commented on #63
Getting Multiple errors when i use the class -

I tried copying the code mentioned in issue59 to just try it out:

but my workspace shows multiple error here as

error for below code- **Implicit Super constructor TableDrawer is undefined for default constructor. Must define an explicit constructor.**

    @SuperBuilder
    private static class CustomTableDrawer extends TableDrawer {

        @Gett

[2020-02-17 15:54] vandeseer commented on #63
Hi, please have a look at:

- https://stackoverflow.com/questions/60114464/java-errors-when-i-forked-the-https-github-com-vandeseer-easytable-repository
- https://github.com/vandeseer/easytable/issues/60#issuecomment-583389878

Long story short: Are you using Eclipse? If so, you will need to install the Lombok Plugin.

Best,
Stefan

[2020-02-18 14:53] Daya2006 opened #64 "How to increase image size when we do col span"
Hi,

I have written a table with 4 columns but i have a requirement of that table to sometime display either two or one image in one of the rows.
I do that by doing the col Span if one row then span col to 4 cells. else if two images then span two columns into two cells.
The only problem i am facing here is the size of the image which is coming its very small.

When i create the Table of two colum

[2020-02-18 17:41] vandeseer commented on #63
Did it work in the end @Daya2006 ?
If so, please close this issue.

Thanks

[2020-02-18 18:55] vandeseer commented on #64
Generally speaking you can just use the `.scale(...)` setting:

    ImageCell.builder()
        .image(someImage)
        .borderWidth(1)
         ...
        .scale(1.5f)
        .build()

[2020-02-18 19:00] vandeseer commented on #62
I cannot reproduce the issue. I will close this issue now. Please reopen it again if you have a minimum working example where one can reproduce the issue. Thanks.

[2020-02-18 19:32] Daya2006 commented on #64
I tried scale option with different values (2f, 60f , 100f) but nothing worked , the image seems to be same still. tried removing the .maxHeight(2000l) option as well as with that but did not saw any different.
The only difference i can see is when i reduce the columns in the table  then i dont even have to mention the max ht or scale it shows the big image.  But my requirement for table is for so

[2020-02-18 19:38] vandeseer commented on #64
Alright. I will have a look.

[2020-02-18 19:40] Daya2006 commented on #64
thanks

[2020-02-18 20:00] vikramtambe opened #65 "Do we have an example where table data can span across multiple pages"
I have a business need where I need to span data across multiple PDF pages. e.g. I have expense data which could have more than 100 rows. in this case i have to split the data across multiple pages.

![image](https://user-images.githubusercontent.com/24460200/74773148-f6d46080-5256-11ea-9886-866f7f143d7b.png)

[2020-02-19 14:59] buzzer83 opened #67 "Paragraph in a cell"
I am using your EasyTable library and it is fantastic, for my use it is better than itext7. I have only one problem. I'm trying to insert a paragraph with multiple lines inside a cell but it gives me an error. Here is my class.

The error is:

`Exception in thread "main" java.lang.NullPointerException
        at org.vandeseer.easytable.drawing.cell.ParagraphCellDrawer.drawContent(ParagraphCellDraw

[2020-02-19 16:45] vandeseer commented on #67
Hi @buzzer83,

glad that you find the library useful. 😃
I will have a look at the issue soon.

Best,
Stefan

[2020-02-19 20:15] vandeseer commented on #67
The solution is as simple as:

            TableDrawer tableDrawer = TableDrawer.builder()
                    .contentStream(contentStream)
                    .page(page) // <-- This was missing
                    .startX((page.getMediaBox().getUpperRightX() - 200) / 2)
                    .startY(page.getMediaBox().getUpperRightY() - 20)
                    .table(myTable)

[2020-02-19 20:17] vandeseer commented on #65
You mean like so: https://github.com/vandeseer/easytable#can-i-draw-a-table-over-multiple-pages ?

[2020-02-19 20:25] vandeseer commented on #64
Yep, this is a bug. It's super easy to fix and I will release a new version within some days (depending on my free time). In case you need a fix very quickly you could simply subtype the image cell and change the line 41 from:

    final float resultingWidth = getColumn().getWidth() - getHorizontalPadding();

to:

    final float resultingWidth = getWidth() - getHorizontalPadding();

[2020-02-20 08:38] buzzer83 commented on #67
Thanks you.

[2020-02-20 08:42] #67 closed

[2020-02-20 16:32] vikramtambe commented on #65
Thanks... If you see in my example I would also like to draw header as well as footer data along with rest of the table data.

[2020-02-20 18:03] Daya2006 opened #68 "How to make the font bold in case i use a font other than specified in PDFBOX"
Hi,

I am trying to use a different font which is not part of default pdfbox. so loading the ttf file for that font and adding modifying the contentstream to use that font.
but i am not able to make the font bold where needed in tables. like some columns require bold for the same font and some does not. can you tell me if its possible to bold the font (without using existing fonts like times bold)

[2020-02-21 15:06] vandeseer commented on #68
Have a look at this thread on stackoverflow:
- https://stackoverflow.com/questions/21561298/pdfbox-same-stream-with-bold-and-normal-text
- this gist illustrates how to use it in easytable: https://gist.github.com/vandeseer/d5c8ac342e52cbfa521ce0a55849b7e4

As said in the answer of the linked stackoverflow post:

[2020-02-21 15:07] #63 closed

[2020-02-21 15:11] vandeseer commented on #65
Well, there is a drawer for repeating headers (also see: [here](https://stackoverflow.com/questions/54233886/pdfbox-header-in-all-pages-using-easytable/60100581#60100581)).

Regarding a repeated footer: Does it have to be part of the table? If so, you would need to implement a table drawer for yourself. But maybe you can just simply do this outside of the table. I didn't fully understand what exac

[2020-02-21 16:25] vikramtambe commented on #65
anyway I found the solution to add footer to each page. footer is not part of table.

[2020-02-21 16:27] vandeseer commented on #65
Alright. I will close this issue.

[2020-02-21 16:27] #65 closed

[2020-02-21 21:37] vikramtambe opened #69 "easytable example where I can include nested rows in a table based on data"
I have  a requirement where I need to add dynamic rows to existing table if nested data exists.
e.g. I have parent note and people can reply to parent node which will become a child note. people can reply to child note etc.

![image](https://user-images.githubusercontent.com/24460200/75073909-17532380-54c0-11ea-8127-5f3a086635dd.png)

[2020-02-21 21:39] vikramtambe commented on #69
As of now i am able to generate table which will have only one parent note. Trying to figure out solution where i can added replies to parent node within same row. please let me know your comments.

[2020-02-23 10:04] vandeseer commented on #69
Sorry @vikramtambe, but from my point of view this is nothing specific to easytable but a general programming question of yours. Therefore I would suggest to ask this question on a programmer's forum like stackoverflow.

In theory you can also create recursive structures by using a table within a table cell like so: https://stackoverflow.com/questions/59959873/pdf-easytable-may-i-insert-table-with

[2020-02-23 10:04] #69 closed

[2020-02-23 10:05] #68 closed

[2020-02-23 10:08] vandeseer commented on #64
This is fixed now with release 0.6.1.

[2020-02-23 10:08] #64 closed

[2020-02-26 17:05] vikramtambe opened #70 "first 2 or 3 rows for table header"
Do we have a way to add first 2/3 rows for header. I have requirement where I would like to repeat first 3 rows on each page while drawing table data. please let me know  your comments.

[2020-02-26 21:37] vandeseer commented on #70
Well, I hacked together a simple example illustrating the case of three repeated header rows:
- https://gist.github.com/vandeseer/8c2ca07265dc44873eeb5ead64b37dd7

I even may change the current implementation of the regular table drawer that repeats header rows to have it configurable and being part of the regular easytable API.

[2020-02-27 06:29] vandeseer commented on #62
I see now what the problem is: the first row gets drawn above the rest of the table. That's a deviation from earlier versions.

[2020-02-27 15:54] vikramtambe opened #71 "How to draw text or small rectangle within ImageCell"
I have a requirement where I need to draw text or small rectangle/circle/square within imageCell.
PS - the data will be dynamic... please see below sample images which i am trying to build. As of now I am able to add background images as ImageCell is easytable.

Please let me know your inputs.
e.g
![image](https://user-images.githubusercontent.com/24460200/75460267-e0a95d00-5946-11ea-932f-bf17d562

[2020-02-27 16:15] vikramtambe opened #72 "Different Font and Font Size within single TextCell"
I would like to use different font and font size within Textcell.

Please let me know your comments.

e.g.
![image](https://user-images.githubusercontent.com/24460200/75462516-fe2bf600-5949-11ea-8889-a6415f9c2b73.png)

[2020-02-28 08:02] vandeseer commented on #72
Have you read the README: https://github.com/vandeseer/easytable#paragraph-cells?

[2020-02-28 13:12] vikramtambe commented on #72
Thanks... I dont know how I missed it..

[2020-02-28 14:41] vandeseer commented on #72
No worries. But I will close this issue now.

[2020-02-28 14:41] #72 closed

[2020-02-28 17:59] vikramtambe opened #73 "Support of Image in ParagraphCell"
As of now ParagraphCell supports StyledText, Markup and Hyperlink. I also want to add image in ParagraphCell.

[2020-02-29 08:37] buzzer83 opened #74 "ParagraphCell out of border"
Hi,
when I insert a paragraph inside a table, sometimes the text, if too long, goes out of border. Attached is the code with a little example, the pom.xml file and the output.
what am I doing wrong?
Thank you

[pom.xml.txt](https://github.com/vandeseer/easytable/files/4270075/pom.xml.txt)
[Report.java.txt](https://github.com/vandeseer/easytable/files/4270072/Report.java.txt)
[example.pdf](https://

[2020-02-29 10:32] vandeseer commented on #74
Looks like a bug to me. From what I can see from a quick test it only happens if row spanning is active. I will look into it.

[2020-02-29 19:55] vandeseer commented on #74
The problem here is that cells with row spanning do not have their "own" height – it will just be calculated by the other "regular" cells of the rows it spans.

That means: Because the two cells in the second column are not very high their sum does not exceed the height of the cell that spans two rows.

So what can you do about it? You could set the `minWidth()` of the cells on the right, e.g. lik

[2020-03-02 12:19] nellymin commented on #62
For a quick workaround you could add header.getHeight() to the value of yOffset

[2020-03-02 12:27] vandeseer commented on #62
I will fix this in the next version. You can also look at this code here and use a custom class for the time being:

- https://gist.github.com/vandeseer/8c2ca07265dc44873eeb5ead64b37dd7

I hacked this together for https://github.com/vandeseer/easytable/issues/70. So in the next release I will include the fix as well as a feature to set how many rows should be repeated.

[2020-03-02 12:43] buzzer83 commented on #74
I tried the solution with the method that calculates the height. In the example I posted the solution works because the case is very simple. Now I have to try it in the project where the tables are dynamically generated.
Thank you per the answer.

[2020-03-02 16:06] vandeseer commented on #62
This issue should now be fixed with version 0.6.2.

Thanks for reporting again @Skiid and thanks for helping out with a workaround @nellymin.

[2020-03-02 16:07] vandeseer commented on #70
The number of rows to repeat can now be set on the `RepeatedHeaderTableDrawer` (fixed in version 0.6.2).

[2020-03-02 16:07] #70 closed

[2020-03-02 16:08] #62 closed

[2020-03-02 16:38] vandeseer commented on #73
The `ParagraphCell` is only a wrapper to [pdfbox-layout](https://github.com/ralfstuckert/pdfbox-layout)'s `Paragraph`. Since such a paragraph does not support images, the wrapper cell type doesn't either. As of now I do not plan to implement this feature, but the architecture of easytable allows you to create your own custom cell types :wink:

[2020-03-02 16:41] vandeseer commented on #71
You would need to do it the same way as in https://github.com/vandeseer/easytable/issues/60: Create a custom cell type (in this case you would need to extend `ImageCell`) and build your custom functionality on top of what the base classes already provide you with.

[2020-03-02 16:41] #71 closed

[2020-03-02 16:47] vandeseer commented on #74
It's really an interesting case, I have to admit.

I honestly didn't think of this issue when I implemented row spanning (and believe me: supporting row spanning and column spanning at the same time creates a huge load of complexity which can easily be underestimated).

Since it would be really nice to have this feature I will try to look into it if I may find enough time.

[2020-03-02 18:02] vandeseer commented on #74
I created a fix (which still needs a bit of testing) and I would like to ask you to try it out @buzzer83: It's in the branch `bugfix/row-spanning-sizing`. Could you install it locally and run your code with this version (i.e. `0.6.3-SNAPSHOT`) and tell me if it worked for you?

PS: When installing locally just run `mvn clean install -DskipTests -Dgpg.skip -Ddependency-check.skip=true` (in order to

[2020-03-03 18:49] buzzer83 commented on #74
I installed version 0.6.3 locally (not with pom.xml) but it gives me several errors (look at them in the image). I certainly did something wrong.
![Immagine](https://user-images.githubusercontent.com/53394738/75808902-2079a580-5d88-11ea-8059-7ff8124692e3.png)

[2020-03-03 19:00] vandeseer commented on #74
You can install it locally by running the following commands:

    git clone https://github.com/vandeseer/easytable.git
    git checkout -b snapshot-branch origin/bugfix/row-spanning-sizing
    mvn clean install -DskipTests -Dgpg.skip -Ddependency-check.skip=true

Afterwards you can reference the locally installed version in your `pom.xml` with version `0.6.3-SNAPSHOT`.

PS: In your IDE you will g

[2020-03-03 20:43] buzzer83 commented on #74
I installed the Lombok plugin and managed to resolve. **your solution works correctly**.  **TY**
Now I have to understand why the lines in paragraphs go wrong. For example in the third column. To indicate the end of the line I put the label "end".
[example.pdf](https://github.com/vandeseer/easytable/files/4283509/example.pdf)

[2020-03-03 21:23] vandeseer commented on #74
Glad to hear the solution works. For the other issue (or question) you're facing, please open another issue in order not to mix up things. Thanks.

[2020-03-04 07:57] buzzer83 commented on #74
obviously. ty.

[2020-03-04 10:55] vandeseer commented on #74
I will leave this issue open, because the fix is not yet released. As soon as version 0.6.3 is published, I'll close it.

Thanks for testing it upfront @buzzer83! 👍

[2020-03-04 21:04] Daya2006 opened #75 "How to use a font which is not default in PDFBOX"
is there a way i can use a ttf file for a font to use a font other than the default ones? need to use proxima nova

[2020-03-04 21:28] vandeseer commented on #75
Yep, see here for instance:

https://github.com/vandeseer/easytable/blob/master/src/test/java/org/vandeseer/integrationtest/VerticalTextCellTest.java

[2020-03-04 21:58] #75 closed

[2020-03-04 22:34] Daya2006 commented on #75
Gettin null pointer exception:

final InputStream resourceAsStream = this.getClass()
                .getClassLoader()
                .getResourceAsStream("proxima_nova_reg-webfont.ttf");

		ownFont = PDType0Font.load(doc, resourceAsStream);
in the above(ownFont = PDType0Font.load(doc, resourceAsStream); ) , the file is present in the location.

java.lang.NullPointerException
	at org.apache.fontb

[2020-03-05 04:11] Daya2006 commented on #75
worked fine after i did ownFont = PDType0Font.load(doc, new File("proxima_nova_reg-webfont.ttf"));

[2020-03-05 09:25] royale1223 opened #76 "Cannot use in Android because of awt classes"
Since this library uses `java.awt.*` classes, which isn't a part of Android, it's impossible to use it inside an Android Project. Please consider removing dependency on awt classes and making the library Android complaint.

[2020-03-10 01:47] chahinehamila opened #77 "Arabic line splitting"
We're trying to use easytable with Arabic text (right to left). The text (String) is rearranged with IBM ICU and java.text.bidi then passed to easytable. The text is correctly displayed (with right align) and correctly ordered within each line, but lines must be read from bottom to top. A bit like:

each line, but lines must be read from bottom to top.
displayed (with right align), and correctly o

[2020-03-10 13:05] vandeseer commented on #77
I will have a closer look soon, generally speaking I think the way to go is to create a cell type of its own and then just override the necessary methods.

Will keep you posted, and I am always happy to accept pull requests :)

Best
Stefan

[2020-03-10 13:07] vandeseer commented on #76
The problem is that the underlying library (which is Apache PDFBox) uses those dependencies. So this is unfortunately nothing that can be fixed within easytable.

[2020-03-10 16:57] vikramtambe opened #78 "Can we specify the rowspan dynamically?"
I have a requirement where i have to display image on right hand side of table and actual data on left hand side. The data is dynamic hence i cant hardcode the rowspan for given image. e.g

In most of the examples we are specifying hard coded row span value and add the exact rows mentioned in rowspan.

![image](https://user-images.githubusercontent.com/24460200/76337951-1430a380-62c6-11ea-9848-301

[2020-03-10 21:15] chahinehamila commented on #77
Thanks Stefan, looking forward to hearing from you.

[2020-03-11 19:15] #76 closed

[2020-03-11 20:04] vandeseer commented on #77
I created a branch for it: `feature/arabic-line-splitting` – just check it out and try to run the test that has been added. If I wasn't mistaken this should do the trick.

Please let me know if it works.

Hope this helps,
Stefan

[2020-03-11 21:40] chahinehamila commented on #77
Fantastic, will revert soon

[2020-03-12 08:52] AdrianMiska opened #80 "Unicode Line breaking algorithm"
Line breaking seems to be a common issue (#79 #77) that could be addressed once and for all by implementing the [Unicode Line Breaking Algorithm](https://unicode.org/reports/tr14/).

It's probably a lot of effort to implement fully but would also allow correct hyphenation on long words.

[2020-03-12 09:47] vandeseer commented on #80
Thanks for pointing that out.

[2020-03-13 19:12] vandeseer commented on #80
Also from my point of view that would indeed be the best solution. I would definitely not implement this as part of easytable though but that should be a library of its own.

There are already libraries that can do more elaborated line breaking (as discussed on [stackoverflow](https://stackoverflow.com/questions/4055430)) like:
- https://commons.apache.org/proper/commons-text/javadocs/api-release/

[2020-03-14 22:36] vandeseer commented on #80
There are already some implementations in other languages:

- https://github.com/aoitaku/unicode-line_break
- https://bitbucket.org/emptypage/uniseg-python/src/default/
- https://github.com/foliojs/linebreak
- https://github.com/hatukanezumi/Unicode-LineBreak/

There isn't any for java seemingly though.

[2020-03-15 14:07] AndreKoepke opened #81 "Wrong linebreaking"
Hi @AndreKoepke,

there's still an issue here. Didn't see that the first time unfortunately. Please have a look again at the "excelLike.pdf" file: In the last line on the cell on the right, the line should not be justified and what is of more importance: the second to last cell in the middle has a strange line breaking – just compare this with the image in the README file.

I am currently working

[2020-03-15 14:19] AndreKoepke commented on #81
I found the error. If there is only a dot or something as first char, then it breaks.

[2020-03-15 14:45] AndreKoepke commented on #81
And found the other bug. With my new wordbreak-algo it shows up. Fix is on the way.

[2020-03-15 15:22] AndreKoepke commented on #81
First bug:
![image](https://user-images.githubusercontent.com/15613049/76704368-d6be8280-66d8-11ea-8ca7-df49dbb82043.png)

Second bug:
![image](https://user-images.githubusercontent.com/15613049/76704373-e63dcb80-66d8-11ea-8bca-6a7d5e75d696.png)

[2020-03-15 15:28] AndreKoepke commented on #81
Now there is something wrong with the cells-background. But I have no idea what's going wrong.
@vandeseer can you have a look?
![image](https://user-images.githubusercontent.com/15613049/76704544-fc985700-66d9-11ea-9d70-c40c93c7db28.png)

(I wrote it in a old-version of easytable, because we are using the old version in a project)

[2020-03-15 19:19] vandeseer commented on #81
Thanks for your effort @AndreKoepke!

I changed the files accordingly on the current `develop` branch. Also did I check the issue with the background: It doesn't happen on the most recent version, so that's fine :+1: :smiley:

I will close this issue as soon as I have released the new version.

[2020-03-15 19:34] vandeseer commented on #81
Version 0.6.3 is published now.

[2020-03-15 19:34] #81 closed

[2020-03-15 19:35] vandeseer commented on #74
Released with version 0.6.3.

[2020-03-15 19:35] #74 closed

[2020-03-15 19:49] vandeseer commented on #78
I don't really understand the problem. Isn't it possible to do one intermediary step and just see how many rows will be generated and in a second step generate the table with `rowSpan` being set correctly? This whole problem seems more a general programming question to me than a specific question or issue with easytable.

From a user's point of view that could be a convenient add-on. Sure. But I r

[2020-03-18 17:41] chahinehamila commented on #77
Dear Stefan, we tested it and it looks great. As mentioned in the issue of #80, there are edge cases where this is glitchy, and which would require other means, but this fix does the job in most cases. Any chance of integrating it in the master branch for next releases? (e.g. 0.6.5?)
Thanks again, sincerely appreciated!

[2020-03-20 09:31] vandeseer commented on #77
Happy it worked for you :+1:

I think I will include it in the next release but I don't know yet when this will go out ;)
When it's released I will close this ticket.

Cheers,
Stefan

[2020-03-20 20:53] vikramtambe commented on #78
Thanks @vandeseer .  I was trying to check it whether we can simply it in user table. I have made changes and able to resolve the issue but after implementation i am getting error at Table.java for below code. What i found that even though I have 3 column table the columIndex became 3 resulting in ArrayIndexOutOfBoundException.

Column column = table.getColumns().get(columnIndex);

[2020-03-24 13:07] buzzer83 opened #83 ".getFinalY()"
Hi, I have tried the new functionality of the final position of the table. If it is used on a standard table it works perfectly. If it is used on a repeated table the method correctly returns the position y but not the page of the document where the table ends. Are you planning to implement this too? Thank you for your work.

[2020-03-25 20:38] vandeseer commented on #83
I didn't yet think about it. It should be absolutely simple to implement. So most probably I will implement it in one of the next releases. Also I am always open for pull requests :wink:

[2020-03-29 20:05] kruthikarshankar opened #84 "Out of memory error when inserting a text of 10000 characters in a table cell."
I am using this library to generate PDF documents for our project. We have a max limit of 10000 characters for some of the fields I am trying to export into PDF. I am using the method provided by the library to span the table over several pages if the text is too long. It throws an out of memory error and crashes the server every time we use the max character limit for that field. Below is the cod

[2020-03-30 07:45] vandeseer commented on #84
Can you provide a minimum example where this issue pops up?

[2020-04-01 18:27] kruthikarshankar commented on #84
First of all, thank you for this library. I couldn't imagine the effort it would have taken to implement whatever we have without this library.

Here is the code snippet I am using.
`final TableBuilder tableBuilder = Table.builder()
				.addColumnsOfWidth(keyWidth/3 + 25, 2*(keyWidth/3) - 25);

				...
				...
				...

tableBuilder.addRow(Row.builder()
	.add(TextCell.builder().colSpan(1).text(form

[2020-04-05 13:24] #84 closed

[2020-04-05 13:25] #73 closed

[2020-04-20 16:14] msww opened #85 "DrawingUtil#drawRectangle calls closePath() when path already got closed by preceding fill()"
Hi - I'm trying out easytable for a project, and am finding that some PDF processors (e.g. `pdftotext` from Poppler 0.48.0) spit out large numbers of messages like `Syntax Error: No current point in closepath` on documents I create using easytable.

It looks like the cause is that [DrawingUtil#drawRectangle calls closePath()](https://github.com/vandeseer/easytable/blob/2bddd60e4c1276ee3d8865b9ffbf

[2020-04-20 18:54] vandeseer commented on #85
Hey @msww , thanks a lot for your thorough analysis!

I never experienced any issue like the one you are mentioning but your comment makes perfect sense. I will hence remove the respective line (as soon as I find time and if there are no other issues popping up due to removing the line).

Thanks again!

Best,
Stefan

[2020-04-22 13:00] #78 closed

[2020-04-22 13:18] vandeseer commented on #85
Removed the respective line in version 0.6.5. If you find anything else, let me know!

[2020-04-22 13:18] #85 closed

[2020-05-01 01:35] stanleyfl88 opened #86 "paragraph underline markup not working"
tableBuilder.addRow(Row.builder()
                    .add(ParagraphCell.builder()
                        .lineSpacing(1.2f)
                        .colSpan(6)
                        .horizontalAlignment(HorizontalAlignment.JUSTIFY)
                        .paragraph(Paragraph.builder()
                             .append(Markup.builder()
                                     .markup(

[2020-05-05 10:22] vandeseer commented on #86
Thanks for reporting. I will have a look as soon as I find a bit of time for that. Note though that the whole integration of `pdfbox-layout` is rather experimental, so it is more or less to be expected that not everything runs flawlessly ...

[2020-05-09 20:42] vandeseer commented on #86
Fixed now with version 0.6.6

[2020-05-09 20:42] #86 closed

[2020-05-26 16:00] djcanard opened #87 "row does not fit on page"
I want to generate a pdf based on a form filled in by the user. This text might be longer than one page.

Now I get an error
`org.vandeseer.easytable.RowIsTooHighException: There is a row that is too high to be drawn on a single page`

I can't find any clues in the docs or tests. How can I handle this?

[2020-05-26 19:35] vandeseer commented on #87
Hi @djcanard,

the exception itself conveys the message already: The height of the text (according to the specific settings like font, font size, line spacing etc.) is simply higher than what can be drawn on the page (again according to the settings like the starting point of the table etc.).

So how can you handle this? What you need to do is to check the text height beforehand and add another ro

[2020-05-28 06:43] djcanard commented on #87
Thanks for your quick response! I looked into it but I find it quite hard to wrap my head around the non-intuitive building of the pdf content with PDFBox :)

[2020-05-28 06:43] #87 closed

[2020-06-12 16:54] piotrek-szczygiel opened #88 "Multi-page table in landscape orientation"
How can I create table that spans multiple pages in landscape orientation?

[2020-06-12 16:58] piotrek-szczygiel commented on #88
Nevermind, dealt with it by just creating a page with swapped width and height.

[2020-06-12 16:58] #88 closed

[2020-06-14 13:36] stanleyfl88 opened #89 "borderWidth is not working for table builder"
borderWidth is not working for table builder.

Table myTable = Table.builder().addColumnsOfWidth(100, 100).borderWidth(1f)   --> not working

[2020-06-15 03:04] stanleyfl88 opened #90 "Extra rows doesn't create next page"
Followed example from https://github.com/vandeseer/easytable/blob/master/src/test/java/org/vandeseer/MinimumWorkingExample.java

Added 30-40 more rows with height=4f, which suppose to have 2 pages of PDF.
But extra rows doesn't create next page, only 1 page available.

[2020-06-15 05:34] vandeseer commented on #90
Please have a look here: https://github.com/vandeseer/easytable/blob/master/src/test/java/org/vandeseer/integrationtest/TableOverSeveralPagesTest.java

[2020-06-16 15:27] vandeseer commented on #89
Yep, you are right. Thanks for reporting.

It's simply not implemented yet but exposed already in the builder. I will fix this as soon as I find time for it. In the meantime you can just workaround by setting it accordingly on every cell.

[2020-06-18 00:12] imod opened #91 "Not able to draw a page title when table spans multiple pages"
How do I draw a page title on a document which has a table that spans multiple pages?

e.g. this draws a table over multiple pages
[code]

but how can I add a title/content outside of the table on each page when I have a table that spans multiple pages?
or how do I add a header with the number of pages to each page like in this example with a https://github.com/vandeseer/easytable/blob/master/src/

[2020-06-18 01:30] imod commented on #91
sorry, I found a solution by adding a specific annotation like this:
[code]
and then at the end I iterate all pages to draw the title for each page:

[code]

[2020-06-18 07:21] imod commented on #91
@vandeseer But I still face one Problem: how do I tell the table to also consider the given `.startY(750F)` on the next pages?
So my problem is, that `.startY(750F)` is only used on the first page, but not on the next ones, therefore I don't have large enough header section to draw the title on the second, third, ... pages.
How can I keep a header area free on the subsequent pages where the table

[2020-06-18 09:32] vandeseer commented on #91
Hi @imod,

please have a look at this [PDF](https://github.com/vandeseer/easytable/blob/master/src/test/reference/severalPagesTableRepeatedHeader.pdf) and the [corresponding code](https://github.com/vandeseer/easytable/blob/master/src/test/java/org/vandeseer/integrationtest/TableOverSeveralPagesTest.java#L88).

Basically like so (please check the comments I made):

    try (final PDDocument docume

[2020-06-18 09:45] imod commented on #91
awesome - thats the link I was missing, many thanks!
Just to also confirm this: my experience is that if I omit  `.startY(..)`, then a new page is created also for the first page - but when I do set `.startY(..)` then it appended to the last page. Is this correct?

[2020-06-19 07:21] venkatdreddy opened #92 "Text color customization within the cell"
Is it possible to provide an option to change text color customization within the cell? It would be great if we can use different color for different text strings

[2020-06-19 07:22] vandeseer commented on #91
Hi @imod,

well, the default value for `startY` is 0. Basically because it's not explicitly initialized and is of type `float`; maybe it should be a different default value though. Because 0 is the lower border of the page it will start on a new page if `endY(...)` is set, because the program sees that it doesn't fit on the page (how should it if one starts on the border already? 😉 ).

But one can

[2020-06-19 07:24] vandeseer commented on #92
Yes, that should be possible. Have a look at [this part in the README](https://github.com/vandeseer/easytable#paragraph-cells).

[2020-06-19 07:26] vandeseer opened #93 "Check for @Test annotations that are left over from refactorings"
Seems there are some leftovers from a refactoring. No harm in it, but should be cleaned.

[2020-06-19 09:22] venkatdreddy commented on #92
Thanks for your quick response. Sorry to miss the point "experimental: vertical text, links and paragraphs within cells".

[2020-06-19 12:44] #92 closed

[2020-06-19 19:29] #93 closed

[2020-06-20 19:06] #90 closed

[2020-07-14 20:17] vandeseer commented on #89
Fixed in version 0.7.0

[2020-07-14 20:17] #89 closed

[2020-07-14 20:17] vandeseer commented on #21
Fixed in v0.7.0

[2020-07-14 20:17] #21 closed

[2020-07-18 05:58] pradhan-v opened #96 "Table does not render properly when using colspan and relatively large data"
The table renders fine when using small strings in the cells. But, when the data in the cells are large...
- When the table starts, only the header is rendered even though there is space in the page for the first row.
- The bigger problem is that the table cells are not rendered properly.

Please execute the following code to see the issue.

[code]

[2020-07-18 06:45] pradhan-v commented on #87
@vandeseer,
The cell height can be calculated and we can make a decision whether to split the row or not. This works fine for regular tables. Won't this cause issues with tables having multiple columns with rowSpan ? Please let us know how we can handle this.

[2020-07-20 04:10] vandeseer commented on #96
Hi @pradhan-v,

Indeed: that doesn't look very nice. The problem here is that the first row is too big: since the cells on the right are increasing the size of the cell on the left (the one with rowspan) and since the first row is now too big to be drawn on one page it doesn't render correctly.

The question is: what would be a correct rendering? We would need to somehow split the cell on the left

[2020-07-21 09:41] pradhan-v commented on #96
Hi @vandeseer

Throwing an exception also would leave the rowSpan feature unusable :(. May be draw the cell with the height set to the table height (endY?). Carry over the remaining height to the next page ?

Setting the top/bottom border widths to 0 does the trick. But, it leaves "holes" at the bottom of the table when the "row spanned" cells span across multiple pages. This is okay, for now.

Th

[2020-08-04 20:00] kruthikarshankar opened #97 "Different colors for each side of the cell"
I have a requirement where I need the table's overall border to be one color (BLACK) and the interior rows of the table separated with a GRAY color and no color for the column separators. Is there a way to maybe set the table border color to be BLACK after the rows are all added, and keep individual row border color to be GRAY?

[2020-08-05 08:00] vandeseer commented on #97
Hi @kruthikarshankar,

as of now there is now way (yet!) to set the border colors of each side individually. But this can be added to easytable soon. There was simply no one before you asking for it. 😉

What you could do in the meantime is to work around it, e.g. something like this: https://gist.github.com/vandeseer/85e7124a1f153bc402b76123e2feb263

You would need to extend some of the table draw

[2020-08-05 20:58] kruthikarshankar commented on #97
I will look at the custom drawer here and try to implement it. I ended up adding a lot of extra functionality to accommodate 508 compatibility to the table structure, but we are out of time, and may not have the bandwidth to implement this although I am curious to try.

[2020-08-06 07:30] vandeseer commented on #97
Basically the implementation should be more or less the same as for different border widths (they can be set separately already). I would be more than happy to review a pull request, otherwise I will try to implement this in the next weeks ... 😉

Regarding your changes for 508 compatibility: Is this something the whole library could benefit from or is it something specific for your current context

[2020-08-07 14:14] vandeseer commented on #97
I implemented the feature of individual border colors. You can try it out with this branch: feature/individual-border-colors

In the next days I'll try to add some tests and then publish it on maven.

[2020-08-09 03:26] kruthikarshankar commented on #97
Haa, I was halfway through the implementation when I read your message. Thank you. I was able to incorporate the remainder of the updates as well.
About the 508, currently it is not very portable. I am cleaning it up so it is not tightly coupled with my application. Once that is done, I will need to add tagging for areas that I did not need to tag for my needs. Then I can add it to a branch here?

[2020-09-08 14:54] sulabhk95 opened #98 "Compression not working when TableDrawer.draw(Supplier<PDDocument>, Supplier<PDPage>, float ) is called"
You have hardcoded compress false in line
            try (final PDPageContentStream newPageContentStream = new PDPageContentStream(document, pageToDrawOn, APPEND, false)) {

[2020-09-08 15:16] sulabhk95 commented on #98
Hi, this is very nice library.
Added pull request https://github.com/vandeseer/easytable/pull/99
Right now added compress attribute for TableDrawer. You can suggest any other approach also.i need compression for my project, so i would appreciate if you can review at the earliest.
Thanks :-)

[2020-09-08 16:52] vandeseer commented on #98
Thanks for your pull request! I will have a look shortly.

Best,
Stefan

[2020-09-15 09:13] vandeseer commented on #98
I merged it and will create a new release soon.

[2020-09-15 10:49] sulabhk95 commented on #98
Thanks. I also noticed one more thing. I was creating huge tables with ~100-200k rows. If i created 1 huge table and then draw it memory requirement was very high, 3-4 gb overhead in my this case. There would be so many Cell and Rows objects in memory. So i wrote a wrapper over your library that
1. calculates the max rows that can be put in a page.
2. client would then "add rows" in batches of siz

[2020-09-15 11:26] vandeseer commented on #98
Hey @sulabhk95,

sounds nice. Would you mind opening another issue where we can discuss and/or create a pull request (against `develop`). We can definitely have a look. I am always open for contributions.

Best,
Stefan

[2020-09-15 11:26] vandeseer commented on #98
Closing this issue now (resolved with release 0.7.1)

[2020-09-15 11:26] #98 closed

[2020-09-25 14:37] kellerkind84 opened #100 "Different Builder behaviour between 0.6.6 and 0.7"
Hi,

awesome library, but I have a small issue: In 0.7 is an issue on the AbstractCellBuilder where the sequence of methods actually matters:

TextCell.builder()
.paddingLeft( 0.2 )
.settings( cellSettings( 0.1 ) ) // for borderwidth
.build();

actually does nothing to set the border width. The moment I set any kind of attribute before the settings, an empty settings object is initialised and does

[2020-09-25 15:09] vandeseer commented on #100
Thanks for reporting, Kai.

Can you check whether this has also shown in 0.6.6?

There were definitely some changes in the settings (hence also the minor version change from 6 to 7), mostly to allow setting the border styles and widths separately if I am not mistaken.

The question is what you want to achieve?

Calling `settings(...)` directly shouldn't be necessary, everything can be done with th

[2020-10-22 11:38] Adriansun opened #102 "I have upvoted the StackOverflow thread, but I still want to donate"
Title + what to do?

[2020-10-22 20:29] vandeseer commented on #102
Hey @Adriansun,

thanks for upvoting and I am more than happy you want to donate! 😃
You can use PayPal for donating: paypal.me/SDeser

Best
Stefan

[2020-10-23 03:20] Adriansun commented on #102
I donated. Thank you for your work.

[2020-10-23 04:33] vandeseer commented on #102
Thank you very much!
This is the first time someone donated for my Open Source engagement.

I am truly honored! 😃

[2020-11-16 14:17] GeertsBart opened #103 "Drawing border have incorrect correctionValues"
In abstractCellDrawer method drawBorders the correctionValues are incorrect

Removing the correctionValues the borders are drawn correct, without overlapping

[2020-11-16 14:31] #103 closed

[2020-11-24 04:36] gabu99 opened #104 "Disable line-break hyphenation"
Hi, I am currently working on a table that contains information about IT projects.
As I use Japanese for some parts, words can get quite long, such that line breaks become necessary.
Now I was wondering if it is possible to disable hyphens at the end of the line where words get too long.
Thank you very much in advance.
![image](https://user-images.githubusercontent.com/74946834/100049141-f5753b80-

[2020-11-24 16:24] vandeseer commented on #104
Hi @gabu99,

there is no easy switch to turn this off as of now. But I think it should not be too hard to implement a custom cell type that just breaks without adding hyphens.

I will have a look.

Best,
Stefan

[2020-11-24 16:45] #102 closed

[2020-11-24 16:48] vandeseer commented on #100
Did you finally change your code to not calling `.settings(...)` directly or did the problem not persist?

Anyway: I am planning to remove access to `.settings(...)` for one of the next releases. It was never supposed to be exposed in the first place but it rather slipped through by not paying enough attention when using Lombok ... 😄

[2020-11-25 00:47] gabu99 commented on #104
Hey @vandeseer

Thank you very much, I appreciate.

[2020-11-25 13:53] vandeseer commented on #104
I hacked around a bit found a solution using a custom cell type and the very nice library https://github.com/davidmoten/word-wrap. You would need to include that library in your `pom.xml`:

        <dependency>
            <groupId>com.github.davidmoten</groupId>
            <artifactId>word-wrap</artifactId>
            <version>0.1.8</version>
        </dependency>

The full example now looks li

[2020-11-26 14:20] al-droid opened #105 "Blurry Image in pdfbox 2.0.20"
Hi as described [here,](https://issues.apache.org/jira/browse/PDFBOX-4863)
and in many stackoverflow post, there was a regression in image rendering in version 2.0.20 solved in 2.0.21 released this summer.

[Release Note pdfbox 2.0.21](https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12310760&version=12348324)

I've tried compiling easytable with the 2.0.21 but I couldn't execute t

[2020-11-26 16:21] vandeseer commented on #105
Hi @al-droid,

the `develop` branch of easytable is using pdfbox 2.0.21. Also a new release with this (and other small) updates will come soon. So what you can do in the meantime is to git clone the repo, checkout the develop branch and then run

    mvn clean install -DskipTests -Dgpg.skip -Ddependency-check.skip=true

The messages stem from a vulnerability analysis which is automatically trigger

[2020-11-27 00:25] gabu99 commented on #104
Thank you for your quick support.
Unfortunately, when I try to use the code there seem to be problems with extending the TextCell class.
The first error says `Implicit super constructor TextCell() is undefined for default constructor. Must define an explicit constructor`.
And getMaxWidthOfText seems to be a private method, such that I can't call it in this class.
Do you have any ideas how to solve

[2020-11-27 10:31] vandeseer commented on #105
Hello @al-droid,

there is a now version out now (0.8.0) which comes with pdfbox 2.0.21.
So no need for workarounds or hacks anymore 😉

Again, let me know if your issue is solved or alternatively just close the issue if this is the case.

Best,
Stefan

[2020-11-27 10:39] vandeseer commented on #104
Hey @gabu99,

sorry, my fault: You need to get version 0.8.0 of easytable (which I just published with the changes necessary).
Regarding the `Implicit super constructor` issue: It may stem from not using any Lombok support in Eclipse.  I don't use Eclipse myself but maybe [this link](https://www.baeldung.com/lombok-ide) is of use.

Also you can try to run the code from the command line. It should

[2020-11-27 12:37] al-droid commented on #105
Hi vandeseer i was not aware of the vulnerability analysis. I will keep in mind next time I want to collaborate in this project :)

Also thank you for the kindly suggestions, I was using the library exactly that way, but now we have 0.8.0 :)

I will update my dependencies and I'll let you know, I think we can close this now.

[2020-11-29 12:17] Thejipppp opened #106 "Weird behaviour for ParagraphCells"
Hi, firstly I would like to thank you for this great library! It is amazing!

However, I found some bugs when using the new ParagraphCells.

A first one is that text can not be underlined and strikethrough at the same time. I think the problem lies in the fact that they both have the same (ending) symbol which makes parsing really difficult.
I personally fixed this by adapting the pdf-layout libra

[2020-11-29 15:52] vandeseer commented on #106
Hey @Thejipppp,

thanks for reporting and thanks especially for providing an example for reproducing the issue.

I will have a look soon – but let me already say: Unfortunately the pdfbox-layout library won't be developed any further and this library depends on it. But well, you solved your markup issue already anyway :wink:

Secondly the whole wrapping approach is a bit experimental and a bit hac

[2020-11-29 16:13] Thejipppp commented on #106
Thank you for the very quick response!

If I could help by providing an example of the weird multipage example, let me know 😃
Something I noticed is that when a normal cell would span multiple pages, an error is thrown if I remember correctly, but this was not the case for the first small long cell. Anyway, have fun debugging 😄

Kind regards,
Jesper

[2020-11-29 16:49] vandeseer commented on #106
I think I found the issue and fixed it on the `develop` branch. At least it seems fine for your example. Maybe you can give it a go.

Regarding your problem of getting the height of a cell: From the top of my head I think you could create another table with one column of the same width as the one in your original table and only the cell in question. After you created that table you just do a `tabl

[2020-11-29 17:28] #105 closed

[2020-11-30 07:27] Thejipppp commented on #106
What a nice simple fix 🥰
Thank you sir for the unbelievable fast service! You are a hero!

Kind regards
Jesper

[2020-11-30 07:27] #106 closed

[2020-11-30 08:42] Thejipppp opened #107 "Cells spanning multiple pages do not render properly"
Hi

This is basically part two of the problem described in #106, and I think it's double with #96, but I wanted to be sure by adding a little image for a minimal example. (Another time, thanks for fixing #106 VERY quickly, you're amazing)

It is immediately clear that the first gray cell should span over the second page and the borders shouldn't disappear in the image below.

What I wanted to do i

[2020-11-30 09:07] vandeseer commented on #106
Thank you, sir! :wink:

I will release a new bugfix version soon (that will be 0.8.1).

Best,
Stefan

[2020-11-30 10:10] vandeseer commented on #107
Hi Jesper,

using row span and extremely large cells together doesn't really work properly. Reason being that easytable was never designed for this use case: Its main goal was to allow for simple table creation (like the ones in the examples) where one could use some two or three cells bundled together by column and/or row spanning.

To be honest introducing row span was way harder than I thought

[2020-11-30 10:31] Thejipppp commented on #107
Hi Stefan

I completely understand your point. You have a nice library and I am asking too much of it. (I think that happens for every open source project after a while) 😋

In my case, I use an image at the top of the first row, so I'll do something like "If it can be drawn, draw it, else put it on the next page". It will be a struggle to be sure, but anyway, without easytable, it would be complet

[2020-11-30 17:48] Thejipppp commented on #107
Hi

I looked through the code and I can see why it's a problem 😄

I think the solution would be to

1. copy the Table when setting it in the TableDrawer
2. check every cell that spans multiple rows
3. try to split it into parts by making an empty copy of it.
4. checking the height of all pages for every action

But the longer I look at it, the more complicated it gets.
- Deciding how to split woul

[2020-12-03 01:05] smileatom opened #108 "Ability to modify a table after the PDF has been saved"
Hi,
Seems like a great library, Im curious if I have a template pdf doc and I want to have tables with header rows as placeholders, is there a way to load a saved PDF and get a reference to the table object(s) in a page?  Not sure if there's a way to do that without this being integrated into the PDFBox metamodel.  But it would be very useful for templates to be able to have a table with set style

[2020-12-03 01:15] gabu99 commented on #104
@vandeseer
Unfortunately, the code still did not work after updating the version of easytable (same errors).
Thank you for your efforts though.
If I find a solution, I'll post it.

[2020-12-03 13:20] vandeseer commented on #104
Hey @gabu99,

I am pretty confident we get this running. So please don't give up! 😉

Did it work running from the command line?
Were you able to get the Lombok plugin installed?

Can you share an example of your code which has the problem?

[2020-12-03 13:21] #100 closed

[2020-12-06 07:32] smileatom opened #109 "How to render cells across a page break instead of splitting the cells between pages"
I have a table with a largish row and on page boundaries it is separated by alot of space from the row above, because the table is splitting on the cell boundaries instead of splitting the actual cell that would draw into the next page.  This is resulting in alot of empty space on pages because of this rows typical height.

Anyway to just draw cells into the next page instead of breaking on the ro

[2020-12-06 12:58] vandeseer commented on #108
Hi @smileatom,

I think I get your point but this unfortunately not feasible. There is no notion of a table produced by this library that could be easily saved and restored in a PDF file. I guess it could somehow be done by utilizing some meta data. But it's nothing which should be incorporated into easy table but would need to be implemented "on top".

Best,
Stefan

[2020-12-07 00:17] smileatom commented on #108
I kind of figured, I have little knowledge of how these documents are created at a fundamental level, and no time to dig in further.  Thanks for your reply.  Did you see my question on why I cant break a page in the middle of a row instead of pushing the next row onto the next page?  Thanks and nice job on this!

[2020-12-07 00:17] #108 closed

[2020-12-07 19:22] vandeseer commented on #109
Hi @smileatom,

even though I understand your issue I do not have any easier solution than splitting the large cells yourself before building the table to draw. You could – for instance – search for newlines and create a table cell for each part.

The easytable library itself cannot easily handle that for you (pun intended). It's a table drawing library not a layout library. There are quite some d

[2020-12-16 12:13] Thejipppp opened #110 "RuntimeException when getting the height of a complicated table"
Hi

Please don't hate me 😋
The idea of making a general splitter is riping in my head, but it needs some time. In the meanwhile, I found another bug.
I'm trying to split my own tables over different pages with A LOT of extra code to do that, but now I found a table that crashes when you ask for it's height. Without height, I can't split.
Maybe interesting, the height is on purpose bigger than one

[2020-12-16 12:19] Thejipppp commented on #110
I see that the problem is the filter, and row 2 doesn't have a cell with a row span of 1. But I think it's a valid table though?

[2020-12-16 12:40] Thejipppp commented on #110
Changing it to this makes a stackoverflow, so that's also no solution 😄
![image](https://user-images.githubusercontent.com/4731003/102349808-34ebff00-3fa4-11eb-908c-87618908272e.png)

[2020-12-16 23:41] vandeseer commented on #110
Wow. With implementing row spanning I really opened the Pandora's box... 😄

Interesting indeed. I will have a look. But no idea if I am able and willing to fix this 😉

[2020-12-24 11:49] grasshopper7 opened #111 "Repeat headers not displayed properly across multiple pages"
Thanks for this artifact.

I kind of had an issue with displaying headers across pages when the space available for the table in the first page is less than the height of the headers. The first two rows are set to repeat.

1. Below is  the pic of a proper display.
![proper table ystart 200](https://user-images.githubusercontent.com/10829355/103085855-ede7b480-4608-11eb-94a5-cb00180d51bd.png)

2. T

[2020-12-26 23:18] vandeseer commented on #111
Hi @grasshopper7

Thanks for your detailed analysis. It definitely makes sense to open a PR. I would be more than happy to review it. Ideally with a test case such that we don't ever run in a regression later.

Best regards
Stefan

[2020-12-29 02:12] zhangwx2020 opened #112 "Document in ParagraphCellDrawer.java"
Should it return **drawingContext.getPdDocument()** instead of **null** in getPdDocument() of AnnotationDrawListener? This is located at ParagraphCellDrawer.java. Thanks for your help.
-Bill

    private AnnotationDrawListener createAndGetAnnotationDrawListenerWith(DrawingContext drawingContext) {
        return new AnnotationDrawListener(new DrawContext() {
                @Override

[2020-12-29 15:05] vandeseer commented on #112
Hi Bill,

is there any issue or problem you are facing which you think may stem from this particular line of code?

In theory, I think, one could adapt the `null` and return the `PDDocument`, but this would require some work (there is no `drawingContext.getPdDocument()` as of now) and I don't see any benefit. This code you mentioned is mostly glue code. It's needed for the wrapping of pdfbox-layou

[2020-12-29 15:26] vandeseer commented on #110
Regarding your picture of the table where each row is colored: There is indeed a difficulty with calculating the height of the yellow part in line 2:

![image](https://user-images.githubusercontent.com/9912755/103294148-8dce8500-49f1-11eb-8ad3-12707a2cccbe.png)

What height should it get? The base height of the regular cells of row 2? But what is it if there is not at least one regular cell in the

[2020-12-29 16:22] zhangwx2020 commented on #112
Yeah, the code is in pdf-box-layout. I wanted to refer PDDocument to support page number link while creating TOC. Thanks, Stefan!

[2020-12-29 16:22] #112 closed

[2021-01-13 09:05] krprashant94 commented on #76
Please make an alternate by using  [PdfBox-Android](https://github.com/TomRoush/PdfBox-Android) or [VivyTeam - pdfbox-android ](https://github.com/VivyTeam/pdfbox-android)

[2021-01-16 11:02] grasshopper7 commented on #111
Hi,
Will create a pull request surely next week. Had gone down the rabbit hole dealing with pdfbox for the last 3 weeks.

Had a couple of other requests for which I will create new issues. First was for returning the start page of a table for creating a destination, required if the drawer pushes the table to a new page. Second to allow cells to contain an internal table, using the code u have alre

[2021-01-20 09:25] phautamaki commented on #48
Hello! Any updates on this?

[2021-01-20 09:27] styssi commented on #48
I am no longer working on this

[2021-01-20 09:31] phautamaki commented on #48
OK. How did you solve the accessilibity requirements in your case? Still using easytable?

[2021-01-20 13:42] styssi commented on #48
No. We did build our own implementation. Since it is for a customer we cannot make the code public. I can tell you this. It took a lot of time.

[2021-01-20 14:09] phautamaki commented on #48
Yep. We are also in the middle of making some PDF:s more accessible and the parts outside tables are doable (I think) with pure PDFBox. However, it seems the tables created with easytable cannot be easily transformed without rewriting some of the easytable code. We'll see what we end up doing in our case. Easytable is a great library in general, and the accessibility features would make it even gr

[2021-01-22 21:47] vandeseer commented on #111
Thanks for your PR!

I will release a new minor/bugfix version soon.

[2021-01-23 18:28] grasshopper7 commented on #111
Will wait for the release. Thx.

Had implemented the use case of returning the PDPage instance for the table start, which I explained in an earlier comment above. It worked for RepeatedHeaderTableDrawer but when testing with a TableDrawer it is returning the initial (wrong) PDPage instance when the table is moved to a new page. This I will try and fix.

I also noticed that only a header without an

[2021-01-25 12:07] grasshopper7 opened #114 "New Feature Request - Ability to get table start PDPage"
This is required when the TableDrawer pushes the table to a new page due to lack of space in the existing page. The use case for this requirement is for adding the start table PDPage object to a destination instance.

[2021-01-25 12:24] grasshopper7 opened #116 "New Feature Request - Internal table cell"
Functionality to add an internal table to a cell. Similar to the code here - https://gist.github.com/vandeseer/bb86e12d01ca18b9306901ae2bf73cf9

[2021-01-27 10:27] grasshopper7 commented on #111
Hi @vandeseer,
Can you mention your thoughts on the second point in the comment above. - https://github.com/vandeseer/easytable/issues/111#issuecomment-766156908.

Sorry to be a bother. Thanks.

[2021-01-30 21:06] vandeseer commented on #111
Hey @grasshopper7, so what you are saying is, that the library should rather check for the header rows and *at least* one data row, right?

From my point of view that would make a good candidate for a configuration flag, e.g. `allowBlankHeaders(true)` or maybe `separateDataFromHeader(false)` or sth. like this. I guess it shouldn't be too hard to implement this by subclassing the `RepeatedHeaderTab

[2021-01-30 21:09] vandeseer commented on #116
I am not fully convinced, to be honest. What benefit does this provide us with in comparison to regular cells that can be spanned over rows and columns? Furthermore there is already a working example (as in your link) that one could use as a basis in case he needs something like this.

[2021-02-15 18:25] fgarcia-student opened #117 "New Feature Request - Underline annotation StyleText"
pdfbox-layout supports underline styled text. I would like this feature exposed by easy-table through an AnnotationStyleTextBuilder.

[2021-02-18 11:27] grasshopper7 commented on #116
In my case, majority cells have like 4-5 lines of text and then few cells which have a grid of numbers or single words. I can do this with the rowspan and colspan but it really gets confusing as the spanned cell data is spread across various rows. I found it convenient to have an internal table cell which isolates it to one location. It could be an edge case but for me was helpful.

[2021-02-18 11:31] grasshopper7 commented on #111
Can this work if an additional method is introduced, addHeader() which makes it explicit that needs a minimum of one data row to follow for display?

[2021-02-18 11:37] grasshopper7 commented on #117
I have coded something similar for annotations with destination. U can find it here - https://github.com/grasshopper7/cucumber-pdf-report/tree/master/cucumber-pdf-report/src/main/java/tech/grasshopper/pdf/annotation/cell.
This is kind of coupled to other code but if u r interested to build upon it, feel free.

[2021-02-18 12:21] grasshopper7 opened #118 "Row.getHeight() returns incorrect value when rowspan is involved"
The getHeight() method which is used in the drawer to calculate row fitment and repeat header height returns false values if there is a row span involved.

The current getHeight() method filters out the rowspan greater than 1 which messes up the returned height.

https://github.com/vandeseer/easytable/blob/c5296c50a77663be986a36ef76151cc90056d94f/src/main/java/org/vandeseer/easytable/structure/Row

[2021-02-19 16:37] NtsCiccio opened #119 "Is possible set and image at the left and the table at the right of the same line"
I have an image position on the left side and i need a table on the right side of an A4 landing, is possible braw the the table at the same line of that image?

[2021-02-19 22:09] vandeseer commented on #119
Hi @NtsCiccio,

yep, that should be possible. You can specify the coordinates where the table should start to be drawn. E.g.:

    package org.vandeseer;

    import org.apache.pdfbox.io.IOUtils;
    import org.apache.pdfbox.pdmodel.PDDocument;
    import org.apache.pdfbox.pdmodel.PDPage;
    import org.apache.pdfbox.pdmodel.PDPageContentStream;
    import org.apache.pdfbox.pdmodel.common.PDRectan

[2021-02-19 22:11] vandeseer commented on #83
This was implemented in the meantime and is released. Will close hence.

[2021-02-19 22:11] #83 closed

[2021-02-19 22:13] #104 closed

[2021-02-19 22:32] vandeseer commented on #114
Relased (v0.8.2)

[2021-02-19 22:32] #114 closed

[2021-02-19 22:33] vandeseer commented on #110
Fixed in v0.8.2 using the approach described above.

[2021-02-19 22:33] #110 closed

[2021-02-19 22:35] vandeseer commented on #118
Can you provide a minimum working example that illustrates the case?
I see your point though. But the row spanning stuff is not as simple as it may look at first glance.

[2021-02-22 08:27] NtsCiccio commented on #119
thank you very much this is what i need. i really thank you.

[2021-02-25 15:16] NtsCiccio opened #120 "Fill cell with hex code color"
Hi, is possible to fill a Cell with an hex code color?

[2021-02-25 19:44] vandeseer commented on #120
You can use `Color.decode` for that:

    TextCell.builder()
      .text("...")
      .textColor(Color.decode("#ff00ff"))
      .backgroundColor(Color.decode("#111111"))
      .build()`

[2021-03-01 13:25] NtsCiccio commented on #120
thanks again, is there another way to contact you without opening issues?

[2021-03-02 18:09] vandeseer commented on #120
Hey, I suggest opening a question on stackoverflow tagging it with pdfbox and maybe mentioning easytable in the title or so. Then others can answer as well and the solution can be found easily, too.

[2021-03-02 18:09] #120 closed

[2021-03-05 11:55] NtsCiccio opened #121 "Add custom Header on repeated page."
Hi i use the `repeatedHeaderTableDrawer.draw(() -> document, () -> new PDPage(new PDRectangle(PDRectangle.A4.getHeight(), PDRectangle.A4.getWidth())), 50f);`
for create a multi page table but i need to add on every new page a custom header composed with an image and the number of the page.
How can i do it?

[2021-03-05 16:27] grasshopper7 commented on #121
U can write the code for the page number and image inside the supplier function that u are using for the draw() method.  Similar to this, https://github.com/grasshopper7/cucumber-pdf-report/blob/a3179602509cba7b51e9520b5f957edf162bc6e7/cucumber-pdf-report/src/main/java/tech/grasshopper/pdf/structure/PageCreator.java#L44

[2021-03-11 08:34] c4da opened #122 "VerticalTextCell text alignment"
Hi,
It seems that using .horizontalAlignment(HorizontalAlignment.CENTER).verticalAlignment(VerticalAlignment.MIDDLE) on VerticalTextCell has no effect.

The text in VerticalTextCell is always aligned to the bottom left. I have tried this also on the example code.
Am I doing something wrong?

    private static Table createSimpleTable() {
        final Table.TableBuilder tableBuilder = Table.builde

[2021-03-11 15:17] vandeseer commented on #122
Hey @c4da,

it could easily be the case that there is still something missing here. I implemented the vertical text cells a long long time ago merely for playing around. Therefore I also mention its experimental state.

Without having had a closer look I guess it shouldn't be too hard to correct this bug or missing code.

If I find some time I will look a bit deeper into it.

Best,
Stefan

[2021-03-15 21:37] c4da commented on #122
Hi @vandeseer it seems that I have found the missing pieces and fixed it. Should I post the code here?

[2021-03-16 05:22] vandeseer commented on #122
Yes, please! Or just open a pull request :)

[2021-03-16 08:54] c4da commented on #122
[code]

[2021-03-16 09:12] vandeseer commented on #122
Thanks a lot, I will have look!

[2021-03-17 11:04] #121 closed

[2021-03-17 19:38] vandeseer commented on #122
Looks good to me! :+1: :smiley:

I will push the change to the `develop` branch and the next release of easytable will contain it.
Thanks for your help! Mentioned you in the README kudos section :wink:

[2021-03-31 14:40] Pandoors commented on #87
How can I use the getTextHeight() from AbstractTextCell without getting nullpointer? I guess that this method is initialized during cell building process but I need to split the cell before that happens. Any clue? I'd be very thankful for tips

[2021-04-12 07:21] grasshopper7 opened #123 "ralfstuckert/pdfbox-layout 1.0.0 dependency build error in Jitpack repo"
Refer to the below links of folks pointing this out.

https://github.com/ralfstuckert/pdfbox-layout/issues/88
https://github.com/jitpack/jitpack.io/issues/4490
https://github.com/grasshopper7/extentreports-cucumber6-adapter/issues/36

The jar is also available in Mulesoft repository (https://repository.mulesoft.org/nexus/content/repositories/public/com/github/ralfstuckert/pdfbox-layout/ and https:

[2021-04-12 18:14] vandeseer commented on #123
Thanks for pointing that out @grasshopper7 !

[2021-05-07 20:30] #122 closed

[2021-05-07 20:34] vandeseer commented on #123
I added a hint to this issue to the README file. Hence I'll close it now.

[2021-05-07 20:34] #123 closed

[2021-05-14 17:34] Aidan-OS commented on #97
Hi, when will this branch be merged in? I would love to use this library for what I am currently working on, but due to the nature of the project I am required to use it through maven. I would need this feature to be able to use the library.

[2021-05-14 20:02] vandeseer commented on #97
Hey @Aidan-OS,

thanks for reminding me! 😄

I merged this to `develop` just now. It only needs a proper test and then it can be released. Shouldn't be too hard to add the test – in the meantime just checkout the `develop` branch and install it locally.

Best,
Stefan

[2021-05-14 20:43] Aidan-OS commented on #97
Great to hear!

[2021-05-17 15:20] Aidan-OS commented on #116
In my situation, I am trying to recreate a table from an older report generation tool, as shown in the image below:
![image](https://user-images.githubusercontent.com/1919827/118513217-7cb4b500-b701-11eb-811d-78009df99a94.png)
From what I can tell, there is no way for me to make a table that looks nearly exactly like this with just column and row spanning, which is what the company wants.

[2021-05-20 11:47] MergimHo opened #126 "Configurable Columns"
Hi!,
very nice code. Thank you for that.

One suggestion: It may be beneficial to add configurable Columns, so that I can specificy whether a column should have a horizontal alignment right (e.G. if its a integer, like in excel) or in the middle or on the left.

Currently this is not possible as the settings are just on cell or row level.

[2021-05-22 20:03] vandeseer commented on #126
Hey @MergimHo,

thanks for your request. Yes, you are right. A column does not support this as of now. I didn't really consider adding it until now but I can see at least one difficulty coming up. When having row spanning and column spanning the question is which setting (the row setting or the column setting) should get precedence? Or should it fall back to the setting from the table or the cell

[2021-05-22 20:10] vandeseer commented on #116
Well, I understand the issue and there even already is some code for it (see link from above). But I am not quite sure whether this should be included in easytable itself. Also I think it's a bit of a hack.

The case you're making @Aidan-OS, I think, could be done by just adding several tables to the page. I am refraining from adding that feature, because I think then easytable would more and more

[2021-05-22 20:15] vandeseer commented on #116
Here is a rendered example by the way: https://stackoverflow.com/questions/59959873/pdf-easytable-may-i-insert-table-within-cell

[2021-05-23 09:18] MergimHo commented on #126
Hi Stefan,
actually this is quite easy.
Most of the tables work that way that their type is determined by the column. Row-level types and the data along the colums is very rare.

So it would be good to allow Column-Level configuration. And if the user needs, overwrite that with row level configs.

[2021-05-24 13:20] vandeseer commented on #126
This is now part of the `develop` branch and will be released with the next release. The precedence for the settings is: cell level has highest precedence, then column, then row and finally table level.

[2021-06-01 10:39] grasshopper7 commented on #123
The author has released a new version on jitpack fixing this issue. https://github.com/ralfstuckert/pdfbox-layout/issues/88

[2021-06-07 08:45] vandeseer commented on #126
Released with 0.8.4

[2021-06-07 08:45] #126 closed

[2021-06-10 14:11] cbirchallroman opened #128 "Change header row to be repeated"
Instead of RepeatedHeaderTableDrawer starting from row index 0 to repeat the first row on each page, I would like to select a different row index. I mostly wanted to submit this as an issue so I could implement it myself :) Thank you!

[2021-06-26 22:19] Adriansun opened #130 "[BUG] IllegalArgumentException: U+0443 ('afii10085') is not available in this font"
Issue:

Exception in thread "pool-1-thread-1" java.lang.IllegalArgumentException: U+0443 ('afii10085') is not available in this font Helvetica-Bold encoding: WinAnsiEncoding
	at org.apache.pdfbox.pdmodel.font.PDType1Font.encode(PDType1Font.java:427)
	at org.apache.pdfbox.pdmodel.font.PDFont.encode(PDFont.java:332)
	at org.apache.pdfbox.pdmodel.PDPageContentStream.showTextInternal(PDPageContentStre

[2021-06-26 22:22] Adriansun commented on #130
Found some information on it:
https://stackoverflow.com/questions/46644570/pdfbox-u000a-controllf-is-not-available-in-this-font-helvetica-encoding

[2021-06-26 22:36] Adriansun commented on #130
This seems to only happen with "non-english" characters, like korean, chinese, or similar for me.
Some clue to what is happening:
https://stackoverflow.com/questions/6334134/fpdf-utf-8-encoding-how-to

[2021-06-26 23:17] Adriansun commented on #130
I found the problem. It is an encoding issue. When I create a PDF for a user and try to print out non-english characters, like "日本語" (Japanese), then I get a crash. Encoding of the characters seems to be the problem. The user PDFs are like the EU GDPR  - you get to know everything about you that the server has on you. Whenever a special character is used, then easyTable crash. I would like to assu

[2021-06-26 23:56] Adriansun commented on #130
Hmm maybe this can help somewhat: https://stackoverflow.com/questions/51481600/handle-many-unicode-caracters-with-pdfbox

[2021-06-27 13:56] vandeseer commented on #130
This is not a bug of easytable. I think there is already another closed issue from another user having the same problem:
https://github.com/vandeseer/easytable/issues/38

[2021-06-27 13:56] #130 closed

[2021-06-27 18:12] Adriansun commented on #38
Thank you for the reply. Can we talk a bit more about this, please?

I have looked through your links and others issues that are similar to the font problem. I do not know what to say. Are we saying that we can only make PDFs with 'English' characters and people in Asia cannot make any PDFs at all? It does look in one link you provided that one can load some other font that might have the support

[2021-06-27 18:17] Adriansun commented on #130
Thank you for the reply. Can we talk a bit more about this, please?

I have looked through your links and others issues that are similar to the font problem. I do not know what to say. Are we saying that we can only make PDFs with 'English' characters and people in Asia cannot make any PDFs at all? It does look in one link you provided that one can load some other font that might have the support

[2021-06-27 18:39] Adriansun commented on #130
Also are you saying that this bug is stemming from Apache PDFBox (https://pdfbox.apache.org/ )? If so; have you talked with them directly about this? I can support your in this if you like. I believe it would leave a bigger mark if you would create a issue at their place and then others join in as support.

[2021-07-20 07:43] asdf00000 opened #131 "PdfUtil.getStringWidth() can return incorrect results for multi-line strings"
The method PdfUtil.getStringWidth() should calculate the length of every line, not just the line that contains the longest string.
The width of the individual letters can be very different so a string with less characters can be wider than a string with more characters. For instance, a single **w** is wider then three times **i**.

Example:
<pre><code>String line1 = "iii";<br>
String line2 = "www"

[2021-07-22 11:44] beooo79 commented on #128
I support this change request. We have different types of documents where the row to be repeated changes from use case to use case. Thanks!

[2021-09-01 13:31] Jay-ArBrouillard opened #132 "Unable to import classes from jar file."
I want to use this repo in my project to generate PDF tables and for that I needed jar file which isn't provided in this repo. I got the jar file from here - https://mvnrepository.com/artifact/com.github.vandeseer/easytable and then imported into my Jdeveloper project but no luck when using it in my Jdeveloper IDE.

Any ideas?

[2021-09-01 14:30] bharat0tarahb opened #133 "getStartX() and getStartY() for cells"
Is there a way to get the StartX and StartY locations of Cells?

[2021-09-02 10:58] vandeseer commented on #132
Hey @Jay-ArBrouillard,

since adding a jar file to a Java project is unrelated to this library I will close this issue.

Still: It's actually pretty simple to include the jar file. You should use a build tool like gradle or maven and the library as a dependency there. Maybe have a look here: https://maven.apache.org/guides/getting-started/maven-in-five-minutes.html

You can include easytable like

[2021-09-02 10:58] #132 closed

[2021-09-16 07:33] jrojasgon opened #134 "Question about: WARNING: Modifying the current transformation matrix is not allowed within text objects"
Hi @vandeseer , I was wondering if there is a way for the lib to avoid logging this WARN errors? which come around normally when there is a specific Horizontal Alignment.

You can see the warns when executing https://github.com/vandeseer/easytable/blob/master/src/test/java/org/vandeseer/integrationtest/ParagraphCellTest.java

`WARNING: Modifying the current transformation matrix is not allowed wit

[2021-09-16 15:21] vandeseer commented on #134
Hi @jrojasgon,

for the "paragraph cells" everything's a bit difficult: Those are just wrappers around the pdfbox-layout library which is not developed any further. It could easily be the case that those stem from that library (I didn't have a closer look yet to be honest). In that case there's no chance in fixing it besides not using this type of cell ... 😉

Hope this helps,
Stefan

[2021-10-04 16:39] ParvatiD opened #135 "Question: Treat A4 as split page and overflow narrow tables on same page"
I need to treat A4 page as 2 parts. The table width is never going to be 50% of the page in my requirement.
I wanted the table to be overflown to remaining part of the same page.
It is like treating A4 sheet as 2 pages split vertically.
I am attaching a sample for reference.
I wanted to know if this is possible?

[SplitPageTable.pdf](https://github.com/vandeseer/easytable/files/7279787/SplitPageTa

[2021-10-05 15:30] vandeseer commented on #135
Hi @ParvatiD

I think that should be possible. You would most probably need to create a custom `TableDrawer` for that though.

[2021-10-05 18:44] KVSRAKESH opened #136 "Adding multiple elements into a single cell"
Hi, I using easytable from past few months, it is amazing. But, I found difficulty in adding multiple elements to a single cell. Like, adding multiple differently styled text in same cell and adding both image and text in same cell. I tried creating a custom cell following the Q/A in readme but was unable to do the bove things. Dont know if this feature is not present or I was not able to get the

[2021-10-05 18:49] KVSRAKESH opened #137 "Question/Feature Request: Adding cells column wise other than adding rows"
I found that we can add cells row wise, like add a complete row and move to the next row. But is it possible to add cells column wise as it will be very easy to add cells at times in cases of having lists or whole column needs same styling. Similarly like we have adding styling to whole row it will be great we also have this for columns.

[2021-10-09 18:57] vandeseer commented on #136
Hi @KVSRAKESH

glad you like the library.

It's possible to create a cell type of its own in order to achieve what you want. But that's a bit more involved. Maybe check out the different cell type implementations for a little inspiration. You can modify what is drawn by a custom drawer class and there you can access the content stream with the coordinates of the current cell.

Best,
Stefan

[2021-10-09 20:38] vandeseer commented on #135
For instance it would work with this custom `TableDrawer`: https://gist.github.com/vandeseer/5c30e093a197efcf55b4ba22090a1c63

[2021-10-10 12:32] ParvatiD commented on #135
Apologies if this sounds like a beginner question.
How to enforce extended TableDrawer's draw method?
As my call is still invoking base TableDrawer's draw().

				OverflowOnSamePageTableDrawer.builder().page(page).contentStream(contentStream).table(table)
						.startX(PADDING).startY(startY).endY(PADDING).build()
						.draw(() -> document, () -> new PDPage(PDRectangle.A4), PADDING);

[2021-10-14 12:39] amerr-k opened #138 "Question/Feature Request: Make startY value different on start page and other pages"
As far as I know, using this library allows us to define where table will start on y axis, but what happens is that if table is multi-page, every time table is created and transferred on other pages, it is located right where yOffset is set in draw function. So every page has the same y axis set.

What I need is to define yOffset every time draw function is called.

Example: I have a multi-page ta

[2021-10-15 10:42] amerr-k commented on #138
Sorry I was uneducated, I successfully managed to do that with this
`  RepeatedHeaderTableDrawer tableDrawer = RepeatedHeaderTableDrawer.builder().table(myTable).startX(50F).startY(600F) .endY(90F).build();tableDrawer.draw(() -> document, () -> new PDPage(), 50F); `
I will close this issue.

[2021-10-15 10:42] #138 closed, assigned to nobody

[2021-10-17 10:48] ParvatiD commented on #135
Thanks @vandeseer. This worked perfectly for me. Appreciate your effort for considering this question as a requirement and getting it implemented.

[2021-10-17 10:48] #135 closed

[2021-11-02 02:07] ssatya21 commented on #20
Is this issue fixed in latest version

[2021-11-02 10:51] vandeseer commented on #20
Hi @ssatya21,

the problem itself should already be fixed.
Is it possible to share the code that breaks?

Thanks,
Stefan

[2021-11-02 11:55] ssatya21 commented on #20
I can't paste the code but the problem I see is- when the text is split by
size, a hyphen is getting appended and I don't want to append it
Is there a way to do that
For ex: maturity date is displayed as
Matu-
Rity
Date
Inside the textcell

This is the code from PdfUtil.splitbysize method

final String fittedNewLine = line.substring(0, i) + "-"

On Tue, Nov 2, 2021, 4:22 PM vandeseer ***@***.***>

[2021-11-04 23:41] dennisgodec opened #139 "Question: why cant numbers be formatted correctly?"
The result of:
`DecimalFormat decimalFormat = new DecimalFormat("#,###.00");
String.format("%15s", decimalFormat.format(bigDecimal))`  can´t really be displayed.
The whitespace-formatting of different numbers like 3,00 / 12,00 / 100,00 get a weird formatting.

Have i overlooked the correct attempt for this ?

[2021-11-05 09:52] vandeseer commented on #139
Hi @dennisgodec,

Can you share a little bit more of your code? And maybe also a screenshot illustrating the issue?
If so, I will try to look into the issue (as soon as I find some time for it).

Best,
Stefan

PS: Thanks for buying me a beer! 🍻 👍 😄

[2021-11-05 13:44] dennisgodec commented on #139
Hey @vandeseer,

i setup a quick & dirty main method where my issue should be explained more precise.

public static void main (String[] args) {

        String PATH = "SETUP/YOUR/PATH.pdf";
        DecimalFormat decimalFormat = new DecimalFormat("#,###.00");

        try {
            PDDocument document = new PDDocument();
            PDPage page = new PDPage();
            document.addPage( pag

[2021-11-09 12:28] vandeseer commented on #139
I had a quick look: I think the issue is that you don't specify `.horizontalAlignment(HorizontalAlignment.RIGHT)` on the respective cells or rows. If you do so it will right align.

Hope this helps!

[2021-11-09 16:45] dennisgodec commented on #139
Hey @vandeseer
Thank you so much! It did the trick :)
I was quite desperate /w trying to get this done.

[2021-11-09 16:45] #139 closed

[2021-11-26 16:00] arjitm786 opened #140 "Possible to add table created from easy table into PDF created using Ralf Stuckert's PDFBox-Layout?"
Hi @vandeseer

I'm working on a project and have created PDF using Pdfbox-layout by  Ralf Stuckert's. I see that this library also uses it uder the hood. Is there any way to add the table from this library into document of Pdfbox-layout?

Edit: or save table as image?

Thanks for the library and your work.
Regards.

[2021-11-29 16:56] vandeseer commented on #140
Hello @arjitm786,

I didn't try this by my own so far, but I think that shouldn't be too big an issue.
Did you try it already? Have there been problems? If so, maybe just share an example ...

Best,
Stefan

[2021-12-01 07:37] arjitm786 commented on #140
Hello @vandeseer ,

First of all, thanks for the reply. I've created TableElement, similar to ImageElement.java in rts.PDFBox, which draws table form this library and then can be added to rts PDFBox document. I want it to span to multiple pages, but the outcome is not as expected. If table height is

1.  less than available space on current page , it works fine (success.pdf).
2.  greater than avai

[2021-12-10 08:56] #140 closed

[2022-02-13 20:20] akashaev opened #141 "Exception in case calling new PDDocument()"
After calling of PDDocument document = new PDDocument();
I'm getting the following error:
    java.lang.NoClassDefFoundError: Failed resolution of: Ljava/awt/Point;
        at org.apache.pdfbox.pdmodel.PDDocument.<clinit>(PDDocument.java:107)

which points to the following code line:
WritableRaster raster = Raster.createBandedRaster(DataBuffer.TYPE_BYTE, 1, 1, 3, new Point(0, 0));

[2022-02-14 05:38] #141 closed

[2022-02-14 05:38] akashaev commented on #141
Android specific issue due to java.awt dependency

[2022-03-19 21:04] shrap42 opened #142 "[SOLVED] NoSuchMethodError when using ParagraphCell"
I got this:
`java.lang.NoSuchMethodError: org.apache.pdfbox.pdmodel.interactive.annotation.PDAnnotation.constructAppearances()V
	at org.vandeseer.easytable.drawing.cell.ParagraphCellDrawer.drawContent(ParagraphCellDrawer.java:57)
	at org.vandeseer.easytable.TableDrawer.lambda$new$0(TableDrawer.java:69)
	at org.vandeseer.easytable.TableDrawer.drawRow(TableDrawer.java:200)
	at org.vandeseer.easytabl

[2022-03-19 21:18] shrap42 commented on #142
Turned out I need newer PDFBOX version. I had 2.0.4, went to 2.0.24 and it works!

[2022-03-19 21:18] #142 closed

[2022-05-07 07:21] etorrenti commented on #27
What if I'd like to start drawing a multi-page table after a block of text? Due to the pageSupplier invocation, a new page is added as soon the table starts. Thanks

[2022-05-25 08:41] INPUTsys-Chris opened #143 "Incorrect font height"
Font height is determined in PdfUtils. The code corresponds to the 'best' SO answer if one googles 'PDFBox font height'.

But that codes uses getCapHeight and is wrong if I have descents or Umlauts. Cap Height is just the height of capital letters.

[code]

![grafik](https://user-images.githubusercontent.com/56319603/170214664-235b1039-bd30-4e86-b7d4-3a6271e65516.png)

My proposal would be to dete

[2022-05-26 19:15] vandeseer commented on #143
Thanks for your suggestion @INPUTsys-Chris!
I will check that (as soon as I find some time for it).

[2022-06-03 12:53] jmizv opened #144 "Adding two RepeatedHeaderTableDrawer to one PDF document"
Hi!
I've checked the test at `TableOverSeveralPagesTest` and it looks fine. I find that all examples are using only one table in the doc. But what if I want to add/draw more than one table on one document? What's the best approach to not overlap the two tables?

[2022-06-04 10:24] jmizv commented on #144
So I my use case is that I have a front page where I draw three small tables which always fit on that single page. From the second page onward there is a large table that might expand to the next pages. But I fail to get it right.

I helped myself with the `PDFMergerUtility` and concatenated my two `ByteArrayOutputStream`s but I hope there's a better way :)

[2022-06-10 14:45] sasaking-k opened #145 "Feature Request: Adding horizontal alignment distributed"
We already have JUSTIFY, but would like a new DISTRIBUTED.

[2022-06-12 20:12] vandeseer commented on #145
What would that mean/how would that look like?

[2022-06-13 01:20] sasaking-k commented on #145
I understand that JUSTIFY aligns the letters on both ends of the left and right when there are multiple lines.
I want the text to be aligned on the left and right ends of the cell when there is one line.

like this.
<img width="196" alt="スクリーンショット 2022-06-13 10 19 58" src="https://user-images.githubusercontent.com/77533746/173263171-952e801e-0031-4680-95f7-68187b2b7dc8.png">

[2022-06-29 12:27] todayifeeltired opened #146 "Question/Feature Request"
Hi there,
thanks for maintaining this sweet library!

I got a question:
as i´ve seen, it is possible via linespacing to write a long text that automatically gets written underneath.

Is it possible to somehow write the whole text into the next line if the text doesnt fit in the space of the first line?

[2022-06-30 18:19] Adriansun opened #147 "[Bug / Update] Cannot make PDF with certain characters"
Hello again,

I was wondering if the issue has been resolved with some characters not found / crash? Will Apache PDFBOX 3.0 solve this issue? Is there any font to use for this not to happen? I really like easytable. Good work.  All I need is for this issue to be resolved.

Reference
https://github.com/vandeseer/easytable/issues/130
https://github.com/vandeseer/easytable/issues/38
https://gist.gith

[2022-07-13 18:10] Adriansun commented on #147
Maybe you are on vacation? Would like to have a reply, please.

[2022-07-15 08:53] vandeseer commented on #147
Hey @Adriansun,

I'm not on vacation. This library has entirely been built in my spare time without being paid. It's a courtesy of mine to open the source code and let everyone use it for free. Not quite sure if we were on the same page here.

As I said already at the other issues this is not a problem of easytable but a problem of pdfbox. And actually I think it's not even a problem of pdfbox dir

[2022-07-15 08:53] #147 closed

[2022-07-15 08:55] vandeseer commented on #147
Maybe have a look e.g. here: https://stackoverflow.com/questions/57450039/printing-chinese-characters-in-pdfbox

Could be a good starting point.

[2022-07-15 11:02] c4da commented on #147
Hi, Im pretty sure its not a problem of both pdfbox and easy table. You need to compose your own ttf file or find one that has all of your chars.

[2022-07-15 11:02] c4da commented on #147
Hi, Im pretty sure its not a problem of both pdfbox and easy table. You need to compose your own ttf file or find one that has all of your chars.

[2022-07-20 19:20] Adriansun commented on #147
I agree with you. It seem to be a font issue. There are several problems with the fonts. Let us start from the start.

Information / Request:
I want to let Japanese, Russians, Thai... create a PDF.

Question 1:
What font has UTF-8/everything and is free?*
* I looked at FreeSerif, but it will crash with Korean characters.

Question 2:
If there is no UTF-8 font to use then can there be an option whi

[2022-08-04 10:12] erirapce opened #148 "Doesn't work with PDFBox 3.0.0-alpha3"
It return this error: java.lang.NoClassDefFoundError: Could not initialize class org.vandeseer.easytable.structure.Table.
The dependency is imported correctly in the pom file.

[2022-08-10 05:35] vandeseer commented on #148
Hey @erirapce,
Thanks for reporting. Didn't yet try it with the new version of PDFBox. Also not quite sure whether I will find enough time to support it ...

[2022-08-10 05:54] erirapce commented on #148
Thanks for letting me know! :)

[2022-08-15 15:20] vandeseer commented on #143
I added the correction and introduced a flag to allow for backwards compatibility. Would be nice if you could have a look @INPUTsys-Chris and try it out. Still needs some tests IMHO ...

[2022-08-15 15:22] vandeseer commented on #143
This is the PR: https://github.com/vandeseer/easytable/pull/149

[2022-08-17 07:54] INPUTsys-Chris commented on #143
Thank you for your hard work.
I ran my quick test and while the spacing is better, the letters don't seem to be on the right place:

![grafik](https://user-images.githubusercontent.com/56319603/185064664-04ddd450-a0e6-4b28-83ef-c0820fa61510.png)

[2022-08-18 11:19] vandeseer commented on #143
Yeah, there's clearly something odd here. Thanks. If I will have a look when I find some time.

[2022-10-31 06:27] ImthyasSherieff opened #150 "Multiple languages not supported for writing PDF"
I'm using this to write tables in pdf. While writing languages other than English, it is not possible for me to write in my pdf file. It skips the other language characters while writing PDF. Is there any alternatives available ?

[2022-10-31 20:23] c4da commented on #150
This is not a language problem nor the problem of the easy table. Your font or ttf file used just does not contain all the characters.